{% extends "base.html" %}
{% set title = 'Invent with Python - Diff Tool' %}
{% block content %}

<script type="text/javascript" src="dojo.js"></script>
<script type="text/javascript" src="sourceCodes.js"></script>
<script type="text/javascript" src="diff/diffview.js"></script>
<link rel="stylesheet" type="text/css" href="diff/diffview.css"/>
<script type="text/javascript" src="diff/difflib.js"></script>

<script type="text/javascript">
var $ = dojo.byId;
dojo.require("dojo.io");
var url = window.location.toString().split("#")[0];

// Array.indexOf method
if (!Array.prototype.indexOf)
{
  Array.prototype.indexOf = function(elt /*, from*/)
  {
    var len = this.length >>> 0;

    var from = Number(arguments[1]) || 0;
    from = (from < 0)
         ? Math.ceil(from)
         : Math.floor(from);
    if (from < 0)
      from += len;

    for (; from < len; from++)
    {
      if (from in this &&
          this[from] === elt)
        return from;
    }
    return -1;
  };
}


// Read a page's GET URL variables and return them as an associative array.
function getUrlVars() {
	var vars = [], hash;
	var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');

	for(var i = 0; i < hashes.length; i++) {
		hash = hashes[i].split('=');
		vars.push(hash[0]);
		vars[hash[0]] = hash[1];
	}
	return vars;
}

function diffUsingJS() {
	//var base = difflib.stringAsLines($("baseText").value);
	var base = difflib.stringAsLines(sourceCodes[$('programSelect').value]);
	var newtxt = difflib.stringAsLines($("newText").value);
	var sm = new difflib.SequenceMatcher(base, newtxt);
	var opcodes = sm.get_opcodes();
	var diffoutputdiv = $("diffoutput");
	while (diffoutputdiv.firstChild) diffoutputdiv.removeChild(diffoutputdiv.firstChild);
	//var contextSize = $("contextSize").value;
	//contextSize = contextSize ? contextSize : null;
	diffoutputdiv.appendChild(diffview.buildView({ baseTextLines:base,
												   newTextLines:newtxt,
												   opcodes:opcodes,
												   baseTextName:"The Book's Program",
												   newTextName:"Your Program",
												   contextSize:null, // I've removed the contextSize field from the form.
												   viewType: $("inline").checked ? 1 : 0 }));
	window.location = url + "#diff";
}

function onPageLoad() {
	// the optional "p" GET parameter can set the default program selected.
	var getVars = getUrlVars();
	var allPrograms = ['AISim1', 'AISim2', 'AISim3', 'animation', 'bagels', 'cipher', 'collisionDetection', 'dodger', 'dragon', 'favorite', 'guess', 'hello', 'hangman', 'jokes', 'pygameHelloWorld', 'pygameInput', 'reversi', 'sonar', 'spritesAndSounds', 'tictactoe'];

	if ((getVars['p']) && (allPrograms.indexOf(getVars['p']) != -1)) {
		$('programSelect').value = getVars['p'];
	}
}

dojo.addOnLoad(onPageLoad);
</script>


<h1>Diff Tool</h1>

<p>Have a problem after typing in the source code from the book, but can't understand the error message? <!--Just select which program you were typing from the dropdown list and copy and paste your code into the text field.--> Use this online diff tool to see the differences between the book's code and your code!</p>

<!--<p>Click "Compare" to see a comparison of the source code as it is in the book and your program, and any differences between them will be highlighted.</p>-->

<h2>Step 1</h2>
<p>Select the program you were typing in from this dropdown menu:</p>

Program: <select name='programSelect' id='programSelect' size="8" style="vertical-align: text-top">
<option value='AISim1'>AISim1.py</option>
<option value='AISim2'>AISim2.py</option>
<option value='AISim3'>AISim3.py</option>
<option value='animation'>animation.py</option>
<option value='bagels'>bagels.py</option>
<option value='cipher'>cipher.py</option>
<option value='collisionDetection'>collisionDetection.py</option>
<option value='dodger'>dodger.py</option>
<option value='dragon'>dragon.py</option>
<option value='favorite'>favorite.py</option>
<option value='guess'>guess.py</option>
<option value='hangman'>hangman.py</option>
<option value='hello'>hello.py</option>
<option value='jokes'>jokes.py</option>
<option value='pygameHelloWorld'>pygameHelloWorld.py</option>
<option value='pygameInput'>pygameInput.py</option>
<option value='reversi'>reversi.py</option>
<option value='sonar'>sonar.py</option>
<option value='spritesAndSounds'>spritesAndSounds.py</option>
<option value='tictactoe'>tictactoe.py</option>
</select>

<input type="radio" name="_viewtype" checked="checked" id="sidebyside"/> Side by Side
&#160;&#160;
<input type="radio" name="_viewtype" id="inline"/> Inline<br />
<br />

<h2>Step 2</h2>

<p>Copy and paste your code here to see how it is different from the code in the book:</p>
<textarea id="newText" style="width:100%;height:300px"></textarea><br />

<h2>Step 3</h2>
<p>Click the "Compare" button:</p>
<input type="button" value="Compare" onclick="javascript:diffUsingJS();"/><br />

<a name="diff"> </a>
<div id="diffoutput" style="width:100%"> </div>





{% endblock %}