{% extends "base.html" %}
{% set title = 'Invent with Python - Chapter 3' %}
{% block content %}


<p><span class="bigfont">Read online:</span> <a href="chapter3.html">Chapter 3 - Strings</a></p>

<p><span class="bigfont">Download source:</span>  <a href="hello.py">hello.py</a></p>

<p><span class="bigfont">Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src1'></textarea>
</p>

<p><span class="bigfont">Online Diff Tool:</span><br />
If you've typed in the source code, but are seeing errors, you can compare your code to the book's code with the <a href="diff/index.html?p=hello">online diff tool</a>.</p>

{% endblock %}