{% extends "baseInvent.html" %}
{% set title = 'About' %}
{% block content %}

  <h1>Get an Early Access PDF of the 3rd Edition!</h1>

  <p><img src="/blogstatic/early3rded_cover.jpg" alt="Cover of the 3rd Edition" style="float: right"/></p>

  <p>The 3rd edition of Invent Your Own Computer Games with Python won't be available for another few weeks, but you can download an early access version PDF in exchange for a tweet!</p>

  <p>The 3rd edition has been streamlined to cover the same content as the 2nd edition but in 70 fewer pages. Explanations have been expanded where needed and ambiguities clarified. Now it'll be even easier to learn to code in Python! Just click below:</p>

  <iframe src="http://www.paywithatweet.com/dlbutton02.php?id=9efa988d-e94f-42fc-b414-1106dd90396d" class="spaced-right" name="paytweet_button" scrolling="no" frameborder="no" height="24px" width="240px"></iframe>

  <p>Translations of the 3rd edition to Spanish, German, Dutch, Indonesian, Swedish, and many other languages are underway and will be ready in 2015. If are multi-lingual and would like to help with the translation effort, email <a href="mailto:al@inventwithpython.com">al@inventwithpython.com</a> and visit the project page at <a href="https://github.com/asweigart/inventwithpython3rded">https://github.com/asweigart/inventwithpython3rded</a></p>

  <p><br /><br /><br /><br />(Or you can just <a href="/inventwithpython_early3rded.pdf">download it here</a> if you don't have a Twitter/Facebook/Plus account.)

{% endblock %}