{% extends "base.html" %}
{% set title = 'Beyond the Basic Stuff with Python' %}

{% block content %}

<div class="jumbotron" style='margin-bottom: 0px; background-color: #fffad0; background-image: url("../images/jumbotron_beyond.png");'>
  <h1 class="display-3">Beyond the Basic Stuff with Python</h1>

<p><center><a href=""><img src="../images/cover_beyond.jpg"></a></center></p>

<p>BRIDGE THE GAP BETWEEN NOVICE AND PROFESSIONAL</p>

<p>You've completed a basic Python programming tutorial or finished Al Sweigart's best selling Automate the Boring Stuff with Python. What's the next step toward becoming a capable, confident software developer?</p>

<p>Welcome to Beyond the Basic Stuff with Python. More than a mere collection of advanced syntax and masterful tips for writing clean code, you'll learn how to advance your Python programming skills by using the command line and other professional tools like code formatters, type checkers, linters, and version control. Sweigart takes you through best practices for setting up your development environment, naming variables, and improving readability, then tackles documentation, organization and performance measurement, as well as object-oriented design and the Big-O algorithm analysis commonly used in coding interviews. The skills you learn will boost your ability to program—not just in Python but in any language.</p>

<p>You'll learn:</p>

<ul>
    <li>Coding style, and how to use Python's Black auto-formatting tool for cleaner code</li>
    <li>Common sources of bugs, and how to detect them with static analyzers</li>
    <li>How to structure the files in your code projects with the Cookiecutter template tool</li>
    <li>Functional programming techniques like lambda and higher-order functions</li>
    <li>How to profile the speed of your code with Python's built-in timeit and cProfile modules</li>
    <li>The computer science behind Big-O algorithm analysis</li>
    <li>How to make your comments and docstrings informative, and how often to write them</li>
    <li>How to create classes in object-oriented programming, and why they're used to organize code </li>
</ul>

<p>Toward the end of the book you'll read a detailed source-code breakdown of two classic command-line games, the Tower of Hanoi (a logic puzzle) and Four-in-a-Row (a two-player tile-dropping game), and a breakdown of how their code follows the book's best practices. You'll test your skills by implementing the program yourself.</p>

<p>Of course, no single book can make you a professional software developer. But Beyond the Basic Stuff with Python will get you further down that path and make you a better programmer in the process as you learn to write readable code that's easy to debug and perfectly Pythonic.</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p style="text-align: center;">
        <a href="https://nostarch.com/beyond-basic-stuff-python" class="btn btn-primary">Buy Print/Ebook Bundle</a>
      </p>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h2>Downloads &amp; Online Tools</h2>
      <ul>
        <!--<li><a href="/InventWithPython_resources.zip">Download source and other files for this book.</a></li>-->
        <li><a href="diff">Online diff tool to compare your code to the code in this book.</a></li>
        <!--<li><a href="errata">Errata for this book.</a></li>-->
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h2>Read the Book Online</h2>
      <ul>
        <li><a href="chapter0.html">Introduction</a></li>
        <li><a href="chapter1.html">Chapter 1 - Dealing with Errors and Asking for Help</a></li>
        <li><a href="chapter2.html">Chapter 2 - Environment Setup and the Command Line</a></li>
        <li><a href="chapter3.html">Chapter 3 - Code Formatting with Black</a></li>
        <li><a href="chapter4.html">Chapter 4 - Choosing Understandable Names</a></li>
        <li><a href="chapter5.html">Chapter 5 - Finding Code Smells</a></li>
        <li><a href="chapter6.html">Chapter 6 - Writing Pythonic Code</a></li>
        <li><a href="chapter7.html">Chapter 7 - Programming Jargon</a></li>
        <li><a href="chapter8.html">Chapter 8 - Common Python Gotchas</a></li>
        <li><a href="chapter9.html">Chapter 9 - Esoteric Python Oddities</a></li>
        <li><a href="chapter10.html">Chapter 10 - Writing Effective Functions</a></li>
        <li><a href="chapter11.html">Chapter 11 - Comments, Docstrings, and Type Hints</a></li>
        <li><a href="chapter12.html">Chapter 12 - Organizing Your Code Projects with Git</a></li>
        <li><a href="chapter13.html">Chapter 13 - Measuring Performance and Big O Algorithm Analysis</a></li>
        <li><a href="chapter14.html">Chapter 14 - Practice Projects</a></li>
        <li><a href="chapter15.html">Chapter 15 - Object-Oriented Programming and Classes</a></li>
        <li><a href="chapter16.html">Chapter 16 - Object-Oriented Programming and Inheritance</a></li>
        <li><a href="chapter17.html">Chapter 17 - Pythonic OOP: Properties and Dunder Methods</a></li>
      </ul>
    </div>
  </div>

<!--
  <div class="row">
    <div class="col-sm-12">
      <h2>Receive a Free Review Copy</h2>

      <p>If you'd like to receive a free print copy of <em>Invent Your Own Computer Games with Python, 4th Edition</em>, please fill out the form at <a href="https://goo.gl/forms/u1PoLWLRl6fZ7nQX2">https://goo.gl/forms/u1PoLWLRl6fZ7nQX2</a>. Please specify you want "Invent Your Own Computer Games with Python". You'll receive a free ebook to read, and upon posting a review to Amazon, you will receive a complementary print review copy of the book. (UPDATE: There's been a large amount of interest, and I can't guarantee you'll get a print book. However, I can definitely send you an ebook to review.)</p>

      <p><strong>To demonstrate that you will be able to write a review, please send me a link to an Amazon, Goodreads, or Powells review you have written before.</strong> If you haven't written an Amazon review before, please explicitly tell me in your email you have an Amazon account and can post reviews. <em>Also, please include the word "walrus" in the subject of your email so I know you read this.</em> I'm happy to send out books to reviewers, but I can only respond to serious inquiries from folks who have read these instructions.</p>

      <p>Please post an honest review. Posting a negative review will not impact whether or not you get a free print book. The only requirements are that the review be a minimum of 100 words, you must live within the United States (due to shipping costs), you must have purchased $50 off Amazon in the last year (Amazon has this requirement before you can write a review), and that you email me first before writing the review.</p>
    </div>
  </div>
-->
</div>

{% endblock %}