{% extends "baseInvent.html" %}
{% set title = 'About' %}
{% block content %}

  <h1>About the Author</h1>

  <p><img src="images/glasses_pushup.jpg" alt="Photo of Al Sweigart"/></p>

  <p>You can email the author at <a href="mailto://al@inventwithpython.com" style="font-size: 20px;">al@inventwithpython.com</a>. Feel free to send your programming questions or comments.</p>

  <p>Albert Sweigart (but you can call him Al), is a software developer in San Francisco, California. He laughs out loud when watching park squirrels, and people think he's a simpleton.</p>

  <p>He has written five books:</p>

  <ul>
    <li><a href="https://automatetheboringstuff.com">Automate the Boring Stuff with Python</a></li>

    <li><a href="https://inventwithscratch.com">Scratch Programming Playground</a></li>

    <li><a href="chapters">Invent Your Own Computer Games with Python</a></li>

    <li><a href="pygame/chapters">Making Games with Python &amp; Pygame</a></li>

    <li><a href="hacking/chapters">Hacking Secret Ciphers with Python</a></li>
  </ul>

  <p>His various projects can be found at <a href='http://alsweigart.com'>http://alsweigart.com</a></p>

{% endblock %}