{% extends "base.html" %}
{% set title = 'Invent with Python' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Invent Your Own Computer Games, 3rd Edition</h2>

      <p><strong>This page is for the old 3rd edition of the book.</strong> You should read the <a href="/invent4thed">4th edition book</a> instead.</p>

      <ul>
        <li><a href="/inventwithpython_3rd.pdf">PDF of Invent Your Own Computer Games with Python</a></li>
        <li><a href="/inventwithpython.zip">PDF and All Source Code</a></li>
      </ul>

      <h3>Videos</h3>
      <ul>
        <li><a href="http://www.youtube-nocookie.com/embed/4Mf0h3HphEA">Installing Python on Windows</a></li>
        <li><a href="http://www.youtube-nocookie.com/embed/MEmEJCLLI2k">Installing Python 3.1 on Mac OS X</a></li>
        <li><a href="http://www.youtube-nocookie.com/embed/RLPYBxfAud4">Installing Python 3.1 on Linux</a></li>
      </ul>

      <h3>Chapters</h3>
      <ul>
        <li><a href="chapter1.html">Chapter 1 - Installing Python</a></li>
        <li><a href="chapter2.html">Chapter 2 - The Interactive Shell</a></li>
        <li><a href="chapter3.html">Chapter 3 - Strings</a></li>
        <li><a href="chapter4.html">Chapter 4 - Guess the Number</a></li>
        <li><a href="chapter5.html">Chapter 5 - Jokes</a></li>
        <li><a href="chapter6.html">Chapter 6 - Dragon Realm</a></li>
        <li><a href="chapter7.html">Chapter 7 - Using the Debugger</a></li>
        <li><a href="chapter8.html">Chapter 8 - Flow Charts</a></li>
        <li><a href="chapter9.html">Chapter 9 - Hangman</a></li>
        <li><a href="chapter10.html">Chapter 10 - Extending Hangman</a></li>
        <li><a href="chapter11.html">Chapter 11 - Tic Tac Toe</a></li>
        <li><a href="chapter12.html">Chapter 12 - Bagels</a></li>
        <li><a href="chapter13.html">Chapter 13 - Cartesian Coordinates</a></li>
        <li><a href="chapter14.html">Chapter 14 - Sonar</a></li>
        <li><a href="chapter15.html">Chapter 15 - Caesar Cipher</a></li>
        <li><a href="chapter16.html">Chapter 16 - Reversi</a></li>
        <li><a href="chapter17.html">Chapter 17 - AI Simulation</a></li>
        <li><a href="chapter18.html">Chapter 18 - Graphics and Animation</a></li>
        <li><a href="chapter19.html">Chapter 19 - Collision Detection and Input</a></li>
        <li><a href="chapter20.html">Chapter 20 - Sounds and Images</a></li>
      </ul>
      <p></p>
  </div>
</div>

{% endblock %}