{% extends "baseInvent.html" %}
{% set title = 'About' %}
{% block content %}

  <h1>Installing Pygame on Windows</h1>

  <p>Once you have Python 3.4 installed, <a href="/pygame-1.9.2a0.win-amd64-py3.4.exe">download pygame-1.9.2a0.win-amd64-py3.4.exe</a>. When it has finished downloading, open this file. It will look like this:</p>

  <p><img src="/images/pygamewindowsinstall.png" /></p>

  <p>Keep clicking <strong>Next</strong> through all the windows of the installer until it has finished installing. Then click <strong>Finish</strong> to close the installer.</p>

  <p>Pygame is now installed. You should be able to run <code>import pygame</code> from the interactive shell without generating any error messages.</p>

{% endblock %}