{% extends "base.html" %}
{% set title = 'Errata - Invent Your Own Computer Games with Python' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Errata</h1>

      <p>If you find any typos, please email them to <a href="mailto://al@inventwithpython.com">al@inventwithpython.com</a>. (Apologies in advance if I haven't posted your errata submission yet or failed to give credit. Please email me to correct this.)</p>

      <p><a href="https://nostarch.com/inventwithpython#updates">Additional errata is available on the No Starch Press website.</a></p>


      <h2>Chapter 1 - The Interactive Shell</h2>

      <p>This interactive shell example:</p>

      <p><pre>>>> spam = 15
>>> spam = spam + 5
20</pre></p>

      <p>...should be:</p>

      <p><pre>>>> spam = 15
>>> spam = spam + 5
>>> spam
20</pre></p>

      <h2>Chapter 9 - Extending Hangman</h2>

      <p>Line 105 was <code>difficulty = ''</code>, but should be <code>difficulty = 'X'</code> so that the following loop will run at least once. <em>(Thanks to Hadi Khalili)</em></p>

      <h2>Chapter 15 - The Reversegam Game</h2>

      <p>On page 234 and 236 the <code>printScore()</code> function is mistakenly referred to as the <code>showPoints()</code> function. (Thanks to Peng Xu彭旭)</p>

    </div>
  </div>
</div>

{% endblock %}