{% extends "base.html" %}
{% set title = 'Invent with Python' %}

{% block content %}

<div class="jumbotron" style='margin-bottom: 0px; background-color: #fffad0; background-image: url("../images/jumbotron_invent4thed.png");'>
  <h1 class="display-3">Invent Your Own Computer Games with Python, 4th Edition</h1>
  <p><em>Invent Your Own Computer Games with Python</em> teaches you how to program in the Python language. Each chapter gives you the complete source code for a new game, and then teaches the programming concepts from the examples. Games include Guess the Number, Hangman, Tic Tac Toe, and Reversi. This book also has an introduction to making games with 2D graphics using the Pygame framework.</p>

  <p>"It's a great introduction to Python and a great introduction to building fairly simple but interesting games. The author's not just a talented coder, but a Python maestro. And his programming techniques provide good lessons on how to approach programming tasks."</p>

  <p style="text-align: right;"><strong>-<a href="https://www.networkworld.com/article/3163010/it-skills-training/book-review-invent-you-own-computer-games-with-python.html">Computerworld</a></strong></p>

  <p>"Games are a great way to engage kids, and Python is a perfect language for them to see immediate results on the screen as they code. Invent Your Own Computer Games with Python should be a hit."</p>
  <p style="text-align: right;"><strong>-<a href="https://geekdad.com/2017/01/two-new-game-books-from-no-starch/">GeekDad</a></strong></p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p style="text-align: center;">
        <a href="https://www.amazon.com/gp/product/1593277954/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1593277954&linkCode=as2&tag=playwithpyth-20&linkId=18a80d666d24cc13bf52ff57fb72a632" class="btn btn-primary">Buy on Amazon</a>
        <a href="https://www.nostarch.com/inventwithpython" class="btn btn-primary">Buy Print/Ebook Bundle</a>
      </p>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h2>Downloads &amp; Online Tools</h2>
      <ul>
        <li><a href="">Download source and other files for this book.</a></li>
        <li><a href="diff">Online diff tool to compare your code to the code in this book.</a></li>
        <li><a href="errata">Errata for this book.</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h2>Table of Contents</h2>
      <ul>
        <li><a href="chapter0.html">Introduction</a></li>
        <li><a href="chapter1.html">Chapter 1 - The Interactive Shell</a></li>
        <li><a href="chapter2.html">Chapter 2 - Writing Programs</a></li>
        <li><a href="chapter3.html">Chapter 3 - Guess the Number</a></li>
        <li><a href="chapter4.html">Chapter 4 - A Joke-Telling Program</a></li>
        <li><a href="chapter5.html">Chapter 5 - Dragon Realm</a></li>
        <li><a href="chapter6.html">Chapter 6 - Using the Debugger</a></li>
        <li><a href="chapter7.html">Chapter 7 - Designing Hangman with Flowcharts</a></li>
        <li><a href="chapter8.html">Chapter 8 - Writing the Hangman Code</a></li>
        <li><a href="chapter9.html">Chapter 9 - Extending Hangman</a></li>
        <li><a href="chapter10.html">Chapter 10 - Tic-Tac-Toe</a></li>
        <li><a href="chapter11.html">Chapter 11 - The Bagels Deduction Game</a></li>
        <li><a href="chapter12.html">Chapter 12 - The Cartesian Coordinate System</a></li>
        <li><a href="chapter13.html">Chapter 13 - Sonar Treasure Hunt</a></li>
        <li><a href="chapter14.html">Chapter 14 - Caesar Cipher</a></li>
        <li><a href="chapter15.html">Chapter 15 - The Reversegam Game</a></li>
        <li><a href="chapter16.html">Chapter 16 - Reversegam AI Simulation</a></li>
        <li><a href="chapter17.html">Chapter 17 - Creating Graphics</a></li>
        <li><a href="chapter18.html">Chapter 18 - Animating Graphics</a></li>
        <li><a href="chapter19.html">Chapter 19 - Collision Detection</a></li>
        <li><a href="chapter20.html">Chapter 20 - Using Sounds And Images</a></li>
        <li><a href="chapter21.html">Chapter 21 - A Dodger Game with Sounds and Images</a></li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}