{% extends "base.html" %}
{% set title = 'Invent with Python' %}

{% block content %}

<div class="jumbotron" style='margin-bottom: 0px; background-color: #fffad0; background-image: url("../images/jumbotron_invent4thed.png");'>
  <h1 class="display-3">Invent Your Own Computer Games with Python Review Offer</h1>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p><em>Invent Your Own Computer Games with Python</em> teaches you how to program in the Python language. Each chapter gives you the complete source code for a new game, and then teaches the programming concepts from the examples. Games include Guess the Number, Hangman, Tic Tac Toe, and Reversi. This book also has an introduction to making games with 2D graphics using the Pygame framework.</p>

      <p>If you'd like to receive a free print copy of <em>Invent Your Own Computer Games with Python, 4th Edition</em>, please fill out the form at <a href="https://goo.gl/forms/u1PoLWLRl6fZ7nQX2">https://goo.gl/forms/u1PoLWLRl6fZ7nQX2</a>. Please specify you want "Invent Your Own Computer Games with Python". You'll receive a free ebook to read, and upon posting a review to Amazon, you will receive a complementary print review copy of the book. (UPDATE: There's been a large amount of interest, and I can't guarantee you'll get a print book. However, I can definitely send you an ebook to review.)</p>

      <p><strong>To demonstrate that you will be able to write a review, please send me a link to an Amazon, Goodreads, or Powells review you have written before.</strong> If you haven't written an Amazon review before, please explicitly tell me in your email you have an Amazon account and can post reviews. <em>Also, please include the word "walrus" in the subject of your email so I know you read this.</em> I'm happy to send out books to reviewers, but I can only respond to serious inquiries from folks who have read these instructions.</p>

      <p>Please post an honest review. Posting a negative review will not impact whether or not you get a free print book. The only requirements are that the review be a minimum of 100 words, you must live within the United States (due to shipping costs), you must have purchased $50 off Amazon in the last year (Amazon has this requirement before you can write a review), and that you email me first before writing the review.</p>

      <p>Thanks!,<br />-Al Sweigart</p>
    </div>
  </div>
</div>

{% endblock %}