body {
  background-color: #caeab7;
}

.container {
  background-color: white;
}

.jumbotron {
  background-color: #fffad0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  overflow: none;
  margin-bottom: 0px;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #3b721a;
}


.dropdown-menu .dropdown-item {
  color: black;
}

#navbarSupportedContent > ul > li.nav-item.dropdown.show > div > a {
  color: black;
}

.navbar a {
  color: white;
}

.navbar a:hover {
  color: white;
}

#navbarDropdownReadMenuLink {
  color: white;
}

#navbarDropdownBuyMenuLink {
  color: white;
}

#navbarDropdownUdemyMenuLink {
  color: white;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

footer a {
  color: white;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .row.content {height:auto;}
}

