{% extends "base.html" %}
{% set title = 'Making Games with Python & Pygame' %}
{% block content %}

<h1>Chapters</h1>

TODO - DOWNLOAD PDF LINK

<div><a href="chapter1.html" class="chapterlink">Chapter 1 - Installing Python</a><a href="index.html#chapter1" class="relatedcontentlink"> [related content]</a></div>
<div><a href="chapter2.html" class="chapterlink">Chapter 2 - Pygame Basics</a><a href="index.html#chapter2" class="relatedcontentlink"> [related content]</a></div>
<div><a href="chapter3.html" class="chapterlink">Chapter 3 - Memory Puzzle</a><a href="index.html#chapter3" class="relatedcontentlink"> [related content]</a></div>
<div><a href="chapter4.html" class="chapterlink">Chapter 4 - Slide Puzzle</a><a href="index.html#chapter4" class="relatedcontentlink"> [related content]</a></div>
<div><a href="chapter5.html" class="chapterlink">Chapter 5 - Simulate</a><a href="index.html#chapter5" class="relatedcontentlink"> [related content]</a></div>
<div><a href="chapter6.html" class="chapterlink">Chapter 6 - Wormy</a><a href="index.html#chapter6" class="relatedcontentlink"> [related content]</a></div>
<div><a href="chapter7.html" class="chapterlink">Chapter 7 - Tetromino</a><a href="index.html#chapter7" class="relatedcontentlink"> [related content]</a></div>
<div><a href="chapter8.html" class="chapterlink">Chapter 8 - Squirrel Eat Squirrel</a><a href="index.html#chapter8" class="relatedcontentlink"> [related content]</a></div>
<div><a href="chapter9.html" class="chapterlink">Chapter 9 - Star Pusher</a><a href="index.html#chapter9" class="relatedcontentlink"> [related content]</a></div>
<div><a href="chapter10.html" class="chapterlink">Chapter 10 - Four Extra Games</a><a href="index.html#chapter10" class="relatedcontentlink"> [related content]</a></div>


<a name="chapter1"><h2>Chapter 1</h2></a>
<p><span>Read online:</span> <a href="chapter1.html">Chapter 1 - Installing Python</a></p>
<a name="chapter2"><h2>Chapter 2</h2></a>
<p><span>Read online:</span> <a href="chapter2.html">Chapter 2 - Pygame Basics</a></p>
<p><span>Download source:</span>  <a href="../source/blankpygame.py">blankpygame.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_blankpygame'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=blankpygame">blankpygame.py</a></p><p><span>Download source:</span>  <a href="../source/drawing.py">drawing.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_drawing'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=drawing">drawing.py</a></p><p><span>Download source:</span>  <a href="../source/catanimation.py">catanimation.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_catanimation'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=catanimation">catanimation.py</a></p><a name="chapter3"><h2>Chapter 3</h2></a>
<p><span>Read online:</span> <a href="chapter3.html">Chapter 3 - Memory Puzzle</a></p>
<p><span>Download source:</span>  <a href="../source/memorypuzzle.py">memorypuzzle.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_memorypuzzle'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=memorypuzzle">memorypuzzle.py</a></p><a name="chapter4"><h2>Chapter 4</h2></a>
<p><span>Read online:</span> <a href="chapter4.html">Chapter 4 - Slide Puzzle</a></p>
<p><span>Download source:</span>  <a href="../source/slidepuzzle.py">slidepuzzle.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_slidepuzzle'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=slidepuzzle">slidepuzzle.py</a></p><a name="chapter5"><h2>Chapter 5</h2></a>
<p><span>Read online:</span> <a href="chapter5.html">Chapter 5 - Simulate</a></p>
<p><span>Download source:</span>  <a href="../source/simulate.py">simulate.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_simulate'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=simulate">simulate.py</a></p><a name="chapter6"><h2>Chapter 6</h2></a>
<p><span>Read online:</span> <a href="chapter6.html">Chapter 6 - Wormy</a></p>
<p><span>Download source:</span>  <a href="../source/wormy.py">wormy.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_wormy'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=wormy">wormy.py</a></p><a name="chapter7"><h2>Chapter 7</h2></a>
<p><span>Read online:</span> <a href="chapter7.html">Chapter 7 - Tetromino</a></p>
<p><span>Download source:</span>  <a href="../source/tetromino.py">tetromino.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_tetromino'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=tetromino">tetromino.py</a></p><p><span>Download source:</span>  <a href="../source/pentomino.py">pentomino.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_pentomino'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=pentomino">pentomino.py</a></p><p><span>Download source:</span>  <a href="../source/tetrominoforidiots.py">tetrominoforidiots.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_tetrominoforidiots'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=tetrominoforidiots">tetrominoforidiots.py</a></p><p>Downloads:<br /><ul>
<li><a href="../resources/tetromino.zip">tetromino.zip</a></li>
</ul></p>

<a name="chapter8"><h2>Chapter 8</h2></a>
<p><span>Read online:</span> <a href="chapter8.html">Chapter 8 - Squirrel Eat Squirrel</a></p>
<p><span>Download source:</span>  <a href="../source/squirrel.py">squirrel.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_squirrel'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=squirrel">squirrel.py</a></p><p>Downloads:<br /><ul>
<li><a href="../resources/squirrel.zip">squirrel.zip</a></li>
</ul></p>

<a name="chapter9"><h2>Chapter 9</h2></a>
<p><span>Read online:</span> <a href="chapter9.html">Chapter 9 - Star Pusher</a></p>
<p><span>Download source:</span>  <a href="../source/starpusher.py">starpusher.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_starpusher'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=starpusher">starpusher.py</a></p><a name="chapter10"><h2>Chapter 10</h2></a>
<p><span>Read online:</span> <a href="chapter10.html">Chapter 10 - Four Extra Games</a></p>
<p><span>Download source:</span>  <a href="../source/flippy.py">flippy.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_flippy'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=flippy">flippy.py</a></p><p><span>Download source:</span>  <a href="../source/inkspill.py">inkspill.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_inkspill'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=inkspill">inkspill.py</a></p><p><span>Download source:</span>  <a href="../source/fourinarow.py">fourinarow.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_fourinarow'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=fourinarow">fourinarow.py</a></p><p><span>Download source:</span>  <a href="../source/gemgem.py">gemgem.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_gemgem'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=gemgem">gemgem.py</a></p><p>Downloads:<br /><ul>
<li><a href="../resources/flippy.zip">flippy.zip</a></li>
<li><a href="../resources/inkspill.zip">inkspill.zip</a></li>
<li><a href="../resources/fourinarow.zip">fourinarow.zip</a></li>
<li><a href="../resources/gemgem.zip">gemgem.zip</a></li>
</ul></p>



{% endblock %}