{% extends "baseEsInvent.html" %}
{% block content %}

  <div>
    <!-- Invent Your Own Computer Games with Python blurb -->

    <div>
      <table border="0">
        <tr>
          <td style="vertical-align: top"><a href="chapters/"><img align="right" src="spanish_cover_thumb.jpg" class="bookcover" width="240" /></a></td>

          <td>
            <h1>Aprenda cómo programar!</h1>

            <p><em>Inventa tus propios juegos de computadora con Python</em> te enseña a programar en Python. Cada capítulo contiene el código fuente completo para un nuevo juego y, a continuación, enseña los conceptos de programación del ejemplo.</p>

            <p>Inventar con Python es para cualquier persona que nunca ha programado antes.</p>


            <div style="margin-left: 70px;">
              <a href="inventwithpython_es_incomplete.pdf" onclick="javascript: pageTracker._trackPageview('/inventwithpython_es_incomplete.pdf');"><img src="/images/greendownload.png" /> Libro PDF </a> <!--<a href="https://docs.google.com/file/d/0BxJ4y96AC8m3R3NSSW9lcDRBZVk/" style="font-size: 80%;">(Alternate link)</a>-->
            </div>

            <div style="margin-left: 70px;">
              <a href="inventwithpython_es.zip"<img src="/images/greendownload.png" /> PDF y Código Fuente</a>
            </div>

            <div style="margin-left: 70px;">
              (La traducción del libro está todavía en curso. Si usted puede ayudar con la transalation, por favor escriba <a href="mailto:al@inventwithpython.com">al@inventwithpython.com</a>.)<br />
              <a href="1.html">Capítulo 1 - Instalando Python</a> <br />
              <a href="2.html">Capítulo 2 - La Consola Interactiva</a> <br />
              <a href="3.html">Capítulo 3 - Escribiendo Programas</a> <br />
              <a href="4.html">Capítulo 4 - Adivina el Número</a> <br />
              <a href="5.html">Capítulo 5 - Chistes</a> <br />
              <a href="6.html">Capítulo 6 - Reino de Dragones</a> <br />
              <a href="7.html">Capítulo 7 - Usando el Depurador</a> <br />
              <a href="8.html">Capítulo 8 - Diagramas de Flujo</a> <br />
              <!--<a href="capítulo9/">Capítulo 9 HTML</a> <br />-->
              <a href="10.html">Capítulo 10 - Ta Te Ti</a> <br />
              <a href="11.html">Capítulo 11 - Panecillos</a> <br /><!--
              <a href="capítulo12/">Capítulo 12 HTML</a> <br />
              <a href="capítulo13/">Capítulo 13 HTML</a> <br />
              <a href="capítulo14/">Capítulo 14 HTML</a> <br />
              <a href="capítulo15/">Capítulo 15 HTML</a> <br />
              <a href="capítulo16/">Capítulo 16 HTML</a> <br />
              <a href="capítulo17/">Capítulo 17 HTML</a> <br />
              <a href="capítulo18/">Capítulo 18 HTML</a> <br />
              <a href="capítulo19/">Capítulo 19 HTML</a> <br />
              <a href="capítulo20/">Capítulo 20 HTML</a> <br />-->
            </div>
          </td>
        </tr>
      </table>
    </div>

{% endblock %}
