{% extends "baseInvent.html" %}
{% set title = 'Hacking Secret Ciphers' %}
{% block content %}



<h1>Practice Exercises 9A</h1>

<div class="asideText"><a href="hacking/practice">View all practice exercises in "Hacking Secret Ciphers with Python".</a></div>

<p>With paper and pencil, decrypt the following messages with the key 9. The (s) parts mark a single space. The total number of characters is already counted for you.</p>

<ol>
<li>H(s)cb(s)(s)irhdeuousBdi(s)(s)(s)prrtyevdgp(s)nir(s)(s)eerit(s)eatoreechadihf(s)paken(s)ge(s)b(s)te(s)dih(s)aoa.da(s)tts(s)tn   (89 characters)</li>
<li>A(s)b(s)(s)drottthawa(s)nwar(s)eci(s)t(s)nlel(s)ktShw(s)leec,hheat(s).na(s)(s)e(s)soogmah(s)a(s)(s)ateniAcgakh(s)dmnor(s)(s)   (86 characters)</li>
<li>Bmmsrl(s)dpnaua!toeboo'ktn(s)uknrwos.(s)yaregonr(s)w(s)nd,tu(s)(s)oiady(s)hgtRwt(s)(s)(s)A(s)hhanhhasthtev(s)(s)e(s)t(s)e(s)(s)eo   (93 characters)</li>
</ol>

<br /><br /><br />
<input type="button" value="Show Answers" onclick="document.getElementById('answers').style.display = 'block'" />

<fieldset><legend>Answers:</legend>
<div style="display: none;" id="answers">
<ol>
<li>He picked up the acorn and buried it straight By the side of a river both deep and great.</li>
<li>At length he came back, and with him a She And the acorn was grown to a tall oak tree.</li>
<li>But with many a hem! and a sturdy stroke, At length he brought down the poor Raven's own oak.</li>
</ol>
</div>
</fieldset>

<p>If you have ideas for practice questions, send them to <a href="mailto:al@inventwithpython.com">al@inventwithpython.com</a>.</p>

    
{% endblock %}
