{% extends "base.html" %}
{% set title = 'Python Programming Exercises, Gently Explained' %}

{% block content %}


<div class="jumbotron" style='margin-bottom: 0px; background-color: #fffad0; background-image: url("../images/jumbotron_pythongently.png");'>
  <h1 class="display-3">Python Programming Exercises, Gently Explained</h1>
  <p>Many books and websites have aggressive programming challenges for top coders. However, <em>Python Programming Exercises, Gently Explained</em> is for the rest of us. We want challenges that improve our coding skills, not leave us confused and discouraged. Other tutorials and books have taught you the basics of Python, but the 42 programming exercises in this book let you practice what you've learned. Selected for their simplicity, these programming problems include gentle explanations of the problem, the prerequisite coding concepts you’ll need to understand the solution, and helpful templates to put together the programs if you have trouble starting from scratch.</p>

  <p>This is the perfect book for beginner and intermediate programmers who want to test their Python skills but aren’t ready to begin professional-level software development. You don’t need the frustration of being expected to create complex algorithms and computer science theory; you need a large set of programming challenges that meet you at your level, with gentle explanations.</p>

  <p>The professionally-formatted ebook is <a href="https://www.amazon.com/Python-Programming-Exercises-Gently-Explained-ebook/dp/B0BGYJ7G6T/">available on Amazon <strong>for 99 cents</strong></a>.</p>

</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p style="text-align: center;">
        <a href="/amazon-pythongently" class="btn btn-primary">Buy on Amazon (ebook)</a>
        <a href="/amazon-pythongentlyprint" class="btn btn-primary">Buy on Amazon (print)</a>
        <a href="/PythonProgrammingExercisesGentlyExplained.pdf" class="btn btn-primary">Download Free PDF</a>
      </p>
    </div>
  </div>

  <!--
  <div class="row">
    <div class="col-sm-12">
      <h2>Downloads &amp; Online Tools</h2>
      <ul>
        <li><a href="/PythonGentlyFiles.zip">Download source code and other files from this book.</a></li>
        <li><a href="diff">Online diff tool to compare your code to the code in this book.</a></li>
        <li><a href="errata">Errata for this book.</a></li>
      </ul>
    </div>
  </div>
-->

  <div class="row">
    <div class="col-sm-12">
      <h2>Student Edition</h2>
        <p>Teachers, instructors, and professors can use the Student Edition PDF, which cuts the solutions in Appendix A.</p>
        <p><a href="/PythonProgrammingExercisesGentlyExplainedQuestions.pdf">Download Student Edition</a></p>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h2>Read the Book Online</h2>

      <ul>
        <li><a href="forward">Forward</a></li>
        <li><a href="introduction">Introduction</a></li>
        <li><a href="exercise1">Exercise #1: Hello, World!</a></li>
        <li><a href="exercise2">Exercise #2: Temperature Conversion</a></li>
        <li><a href="exercise3">Exercise #3: Odd & Even</a></li>
        <li><a href="exercise4">Exercise #4: Area & Volume</a></li>
        <li><a href="exercise5">Exercise #5: Fizz Buzz</a></li>
        <li><a href="exercise6">Exercise #6: Ordinal Suffix</a></li>
        <li><a href="exercise7">Exercise #7: ASCII Table</a></li>
        <li><a href="exercise8">Exercise #8: Read Write File</a></li>
        <li><a href="exercise9">Exercise #9: Chess Square Color</a></li>
        <li><a href="exercise10">Exercise #10: Find and Replace</a></li>
        <li><a href="exercise11">Exercise #11: Hours, Minutes, Seconds</a></li>
        <li><a href="exercise12">Exercise #12: Smallest & Biggest</a></li>
        <li><a href="exercise13">Exercise #13: Sum & Product</a></li>
        <li><a href="exercise14">Exercise #14: Average</a></li>
        <li><a href="exercise15">Exercise #15: Median</a></li>
        <li><a href="exercise16">Exercise #16: Mode</a></li>
        <li><a href="exercise17">Exercise #17: Dice Roll</a></li>
        <li><a href="exercise18">Exercise #18: Buy 8 Get 1 Free</a></li>
        <li><a href="exercise19">Exercise #19: Password Generator</a></li>
        <li><a href="exercise20">Exercise #20: Leap Year</a></li>
        <li><a href="exercise21">Exercise #21: Validate Date</a></li>
        <li><a href="exercise22">Exercise #22: Rock, Paper, Scissors</a></li>
        <li><a href="exercise23">Exercise #23: 99 Bottles of Beer</a></li>
        <li><a href="exercise24">Exercise #24: Every 15 Minutes</a></li>
        <li><a href="exercise25">Exercise #25: Multiplication Table</a></li>
        <li><a href="exercise26">Exercise #26: Handshakes</a></li>
        <li><a href="exercise27">Exercise #27: Rectangle Drawing</a></li>
        <li><a href="exercise28">Exercise #28: Border Drawing</a></li>
        <li><a href="exercise29">Exercise #29: Pyramid Drawing</a></li>
        <li><a href="exercise30">Exercise #30: 3D Box Drawing</a></li>
        <li><a href="exercise31">Exercise #31: Convert Integers To Strings</a></li>
        <li><a href="exercise32">Exercise #32: Convert Strings To Integers</a></li>
        <li><a href="exercise33">Exercise #33: Comma-Formatted Numbers</a></li>
        <li><a href="exercise34">Exercise #34: Uppercase Letters</a></li>
        <li><a href="exercise35">Exercise #35: Title Case</a></li>
        <li><a href="exercise36">Exercise #36: Reverse String</a></li>
        <li><a href="exercise37">Exercise #37: Change Maker</a></li>
        <li><a href="exercise38">Exercise #38: Random Shuffle</a></li>
        <li><a href="exercise39">Exercise #39: Collatz Sequence</a></li>
        <li><a href="exercise40">Exercise #40: Merging Two Sorted Lists</a></li>
        <li><a href="exercise41">Exercise #41: ROT 13 Encryption</a></li>
        <li><a href="exercise42">Exercise #42: Bubble Sort</a></li>
        <li><a href="appendixa">Appendix A: Solutions</a></li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
