{% extends "basePygame.html" %}
{% set title = 'Making Games with Python & Pygame' %}
{% block content %}



<!-- Making Games with Python & Pygame blurb -->
<div>
<table border="0">
<tr><td style="vertical-align: top">
  <a href="pygame/chapters/"><img align="right" src="images/cover_makinggames_thumb.png" class="bookcover"></a>
</td><td>

  <h1>Make games with graphics!</h1>

  <p><em>&#147;Making Games with Python & Pygame&#148;</em> covers the Pygame library with the source code for 11 games. &#147;Making Games&#148; was written as a sequel for the same age range as &#147;Invent with Python&#148;. Once you have an understanding of the basics of Python programming, you can now expand your abilities using the Pygame library to make games with graphics, animation, and sound.</p>

  <p>The book features the source code to 11 games. The games are clones of classics such as Nibbles, Tetris, Simon, Bejeweled, Othello, Connect Four, Flood It, and others.</p>

  <p>The book and the programs are <strong>open source</strong>, and are available under a <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/"><strong>Creative Commons</strong> Attribution-Noncommercial-Share Alike</a></strong> license, meaning they are free to copy and distribute. See the license for full details. A print copy can be bought on <a href="http://www.amazon.com/Making-Games-Python-Pygame-Sweigart/dp/1469901730?ie=UTF8&tag=playwithpyth-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=0982106017">Amazon.com</a> for $25.</p>

  <!-- Buy and Read Online buttons -->
  <div style="text-align: center">
  <a href="http://www.amazon.com/Making-Games-Python-Pygame-Sweigart/dp/1469901730?ie=UTF8&tag=playwithpyth-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=0982106017"><img src="images/buyonamazon_red.png" style="" /></a>
  <a href="pygame/chapters/"><img src="images/readonline_red.png" /></a>
  </div>
  <!-- Quick download links-->
  <div style="margin-left: 70px;">
  <a href="makinggames.pdf" style="font-size: 80%;" onclick="javascript: pageTracker._trackPageview('/makinggames.pdf');"><img src="images/reddownload.png" /> Download the .pdf version for free.</a> <a href="https://dl.dropbox.com/u/11076239/makinggames.pdf" style="font-size: 80%;">(Alternate link)</a><br />
  </div>
  <div style="margin-left: 70px;">
  <a href="makinggames.mobi" style="font-size: 80%;" onclick="javascript: pageTracker._trackPageview('/makinggames.mobi');"><img src="images/reddownload.png" /> Download the .mobi version for your Kindle/eReader for free.</a> <a href="https://dl.dropbox.com/u/11076239/makinggames.mobi" style="font-size: 80%;">(Alternate link)</a><br />
  </div>
  <div style="margin-left: 70px;">
  <a href="/makinggames_src.zip" style="font-size: 80%;"><img src="images/reddownload.png" /> Download the source code.</a>
  </div>
</td></tr></table>
</div>



<!-- Social Networking Stuff -->
<div style="margin-top:35px">
<center>

<table border="0">
<tr><td rowspan="2" style="padding-right:45px">
<!-- Gimme images -->
<iframe src="gimme.html" width="100%" height="120" frameborder='0'>
<script language="javascript" type="text/javascript" src="gimme/gimmewidget.php"></script>
</iframe>

</td><td colspan="2">

<p><a href="http://www.stumbleupon.com/submit?url=http%3A%2F%2Finventwithpython.com/pygame"><img src="images/stumbleuponicon.png" alt="Vote up on StumbleUpon.com" /><strong>Vote for this site</strong></a> on <a href="http://www.stumbleupon.com">Stumble Upon</a></p>
</td></tr>

<tr>

<td><a href="http://twitter.com/share" class="twitter-share-button" data-url="http://inventwithpython.com/pygame" data-text="Learn Pygame by making games: &quot;Making Games with Python & Pygame&quot;" data-count="horizontal" data-via="AlSweigart">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</td>

<td><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Finventwithpython.com%2Fpygame&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:180px; height:35px;" allowTransparency="true"></iframe>
</td>

</tr></table>
</center>
</div>
<!-- END Social Networking Stuff -->




<h2>Python Books I Recommend (if you don't mind paying)</h2>

<p>These books take a more conventional approach to covering programming concepts. They don't focus on having complete source code for small projects or games, but they do explain programming concepts fairly well.</p>

<table border="0" cellpadding="2" style="font-size: 100%">
<tr><td class="affiliate_image">
<a href="http://www.amazon.com/gp/product/1593274076/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1593274076&linkCode=as2&tag=playwithpyth-20" onclick="javascript: pageTracker._trackPageview('/affiliate_program_python_for_kids.link');"><img src="/images/affiliate_program_pythonforkids.jpg" style="border: 1px solid black" /></a>
</td><td class="affiliate_desc"><a href="http://www.amazon.com/gp/product/1593274076/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1593274076&linkCode=as2&tag=playwithpyth-20" onclick="javascript: pageTracker._trackPageview('/affiliate_program_python_for_kids.link');">"Python for Kids"</a> is a new book from <a href="http://nostarch.com/">No Starch Press</a> specifically aimed at a young reader.</td>
<td class="affiliate_image">
<a href="http://www.amazon.com/gp/product/0071807837/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0071807837&linkCode=as2&tag=playwithpyth-20" onclick="javascript: pageTracker._trackPageview('/affiliate_program_programming_the_raspberry_pi.link');"><img src="/images/affiliate_program_programmingtheraspberrypi.jpg" style="border: 1px solid black" /></a>
</td><td class="affiliate_desc"><a href="http://www.amazon.com/gp/product/0071807837/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0071807837&linkCode=as2&tag=playwithpyth-20" onclick="javascript: pageTracker._trackPageview('/affiliate_program_programming_the_raspberry_pi.link');">"Programming the Raspberry Pi: Getting Started with Python"</a> is a great book to learn Python if you have purchased a <a href="http://www.raspberrypi.org/">Raspberry Pi</a>.</td></tr>

<tr><td class="affiliate_image">
<a href="http://www.amazon.com/gp/product/1593274092/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1593274092&linkCode=as2&tag=playwithpyth-20" onclick="javascript: pageTracker._trackPageview('/affiliate_program_super_scratch.link');"><img src="/images/affiliate_program_superscratch.jpg" style="border: 1px solid black" /></a>
</td><td class="affiliate_desc"><a href="http://www.amazon.com/gp/product/1593274092/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1593274092&linkCode=as2&tag=playwithpyth-20" onclick="javascript: pageTracker._trackPageview('/affiliate_program_super_scratch.link');">"Super Scratch Programming Adventure!: Learn to Program By Making Cool Games"</a> is a great book for younger kids (8 to teens) to learn MIT's graphical <a href="http://scratch.mit.edu/">Scratch programming environment</a> to quickly make games.</td>
<td class="affiliate_image">
<a href="http://www.amazon.com/gp/product/1435455002/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=playwithpyth-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=1435455002" onclick="javascript: pageTracker._trackPageview('/affiliate_program_absolute_beginners.link');"><img src="/images/affiliate_program_absolute_beginners.jpg" style="border: 1px solid black" /></a>
</td><td class="affiliate_desc"><a href="http://www.amazon.com/gp/product/1435455002/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=playwithpyth-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=1435455002" onclick="javascript: pageTracker._trackPageview('/affiliate_program_absolute_beginners.link');">"Python Programming for the Absolute Beginner, 3rd Edition"</a> is a great book to learn Python if you have never programmed before.</td></tr>

<tr><td class="affiliate_image">
<a href="http://www.amazon.com/gp/product/193518220X/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=playwithpyth-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=193518220X" onclick="javascript: pageTracker._trackPageview('/affiliate_program_quick_python.link');"><img src="/images/affiliate_program_quick_python.jpg" style="border: 1px solid black" /></a>
</td><td class="affiliate_desc"><a href="http://www.amazon.com/gp/product/193518220X/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=playwithpyth-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=193518220X" onclick="javascript: pageTracker._trackPageview('/affiliate_program_quick_python.link');">"The Quick Python Book, 2nd Edition"</a> is a great book if you are already a programmer and want to learn Python, or just want to quickly get up to speed with various programming concepts.</td>
<td class="affiliate_image">
<a href="http://www.amazon.com/gp/product/0071497528/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=playwithpyth-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=0071497528" onclick="javascript: pageTracker._trackPageview('/affiliate_program_evil_genius.link');"><img src="/images/affiliate_program_evil_genius.jpg" style="border: 1px solid black" /></a>
</td><td class="affiliate_desc"><a href="http://www.amazon.com/gp/product/0071497528/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=playwithpyth-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=0071497528" onclick="javascript: pageTracker._trackPageview('/affiliate_program_evil_genius.link');">"Programming Video Games for the Evil Genius"</a> teaches the Java programming language, but takes a similar approach to "Invent with Python" by having the source code to various games.</td></tr>

<tr><td class="affiliate_image">
<a href="http://www.amazon.com/gp/product/1933988495/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=playwithpyth-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=1933988495" onclick="javascript: pageTracker._trackPageview('/affiliate_program_hello_world.link');');"><img src="/images/affiliate_program_hello_world.jpg" style="border: 1px solid black" /></a>
</td><td class="affiliate_desc"><a href="http://www.amazon.com/gp/product/1933988495/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=playwithpyth-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=1933988495" onclick="javascript: pageTracker._trackPageview('/affiliate_program_hello_world.link');">"Hello World! Computer Programming for Kids and Other Beginners"</a> covers the basic concepts like "Absolute Beginner" and "Quick Python" do, but is more purposefully aimed at younger readers.</td><td class="affiliate_image">
<a href="http://www.amazon.com/gp/product/1597499579/ref=as_li_qf_sp_asin_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1597499579&linkCode=as2&tag=playwithpyth-20" onclick="javascript: pageTracker._trackPageview('/affiliate_program_violentpython.link');"><img src="/images/affiliate_program_violentpython.jpg" style="border: 1px solid black" /></a>
</td><td class="affiliate_desc"><a href="http://www.amazon.com/gp/product/1593274076/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1593274076&linkCode=as2&tag=playwithpyth-20" onclick="javascript: pageTracker._trackPageview('/affiliate_program_violentpython.link');">"Violent Python: A Cookbook for Hackers, Forensic Analysts, Penetration Testers and Security Engineers"</a> is devoted to using Python for modern computer security.</td></tr>

</table>






<h2>Contact</h2>

<p>You can email the author at <a href="mailto:al@inventwithpython.com">al@inventwithpython.com</a>. Feel free to send your programming questions or comments.</p>


{% endblock %}