{% extends "baseInvent.html" %}
{% set title = 'Hacking Secret Ciphers' %}
{% block content %}



<h1>Practice Exercises 24A</h1>

<div class="asideText"><a href="hacking/practice">View all practice exercises in "Hacking Secret Ciphers with Python".</a></div>



<br /><br /><br />
<input type="button" value="Show Answers" onclick="document.getElementById('answers').style.display = 'block'" />

<fieldset><legend>Answers:</legend>
<div style="display: none;" id="answers">
<ol>
<li></li>
</ol>
</div>
</fieldset>

<p>If you have ideas for practice questions, send them to <a href="mailto:al@inventwithpython.com">al@inventwithpython.com</a>.</p>

    
{% endblock %}
