{% extends "basePygame.html" %}
{% set title = 'Making Games with Python & Pygame - Chapter 6' %}
{% block content %}

<script type="text/javascript" src="sourceCodesPygame.js"></script>
<script type="text/javascript">
dojo.addOnLoad(function() {
    document.getElementById('src1').value=sourceCodesPygame['wormy'];
});

</script>

<p><span class="bigfont">Read online:</span> <a href="chapter6.html">Chapter 6 - Wormy</a></p>

<p><span class="bigfont">Download source:</span>  <a href="wormy.py">wormy.py</a></p>

<p><span class="bigfont">Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src1'></textarea>
</p>



<p><span class="bigfont">Online Diff Tool:</span><br />
If you've typed in the source code, but are seeing errors, you can compare your code to the book's code with the <a href="diff/index.html?p=wormy">online diff tool</a>.</p>


{% endblock %}