{% extends "baseInvent.html" %}
{% set title = 'Invent Your Own Computer Games with Python' %}
{% block content %}

<h1>Chapters</h1>

<div><a href="/inventwithpython.pdf">PDF of Invent Your Own Computer Games with Python</a></div><div><a href="/inventwithpython.zip">PDF and All Source Code</a></div><br /><br />

<div><a href="//chapter1.html" class="chapterlink">Chapter 1 - Installing Python</a><a href="index.html#chapter1" class="relatedcontentlink"> [related content]</a></div>
<div><a href="//chapter2.html" class="chapterlink">Chapter 2 - The Interactive Shell</a><a href="index.html#chapter2" class="relatedcontentlink"> [related content]</a></div>
<div><a href="//chapter3.html" class="chapterlink">Chapter 3 - Strings</a><a href="index.html#chapter3" class="relatedcontentlink"> [related content]</a></div>
<div><a href="//chapter4.html" class="chapterlink">Chapter 4 - Guess the Number</a><a href="index.html#chapter4" class="relatedcontentlink"> [related content]</a></div>
<div><a href="//chapter5.html" class="chapterlink">Chapter 5 - Jokes</a><a href="index.html#chapter5" class="relatedcontentlink"> [related content]</a></div>
<div><a href="//chapter6.html" class="chapterlink">Chapter 6 - Dragon Realm</a><a href="index.html#chapter6" class="relatedcontentlink"> [related content]</a></div>
<div><a href="//chapter7.html" class="chapterlink">Chapter 7 - Using the Debugger</a><a href="index.html#chapter7" class="relatedcontentlink"> [related content]</a></div>
<div><a href="//chapter8.html" class="chapterlink">Chapter 8 - Flow Charts</a><a href="index.html#chapter8" class="relatedcontentlink"> [related content]</a></div>
<div><a href="//chapter9.html" class="chapterlink">Chapter 9 - Hangman</a><a href="index.html#chapter9" class="relatedcontentlink"> [related content]</a></div>
<div><a href="//chapter10.html" class="chapterlink">Chapter 10 - Tic Tac Toe</a><a href="index.html#chapter10" class="relatedcontentlink"> [related content]</a></div>
<div><a href="//chapter11.html" class="chapterlink">Chapter 11 - Bagels</a><a href="index.html#chapter11" class="relatedcontentlink"> [related content]</a></div>
<div><a href="//chapter12.html" class="chapterlink">Chapter 12 - Cartesian Coordinates</a><a href="index.html#chapter12" class="relatedcontentlink"> [related content]</a></div>
<div><a href="//chapter13.html" class="chapterlink">Chapter 13 - Sonar</a><a href="index.html#chapter13" class="relatedcontentlink"> [related content]</a></div>
<div><a href="//chapter14.html" class="chapterlink">Chapter 14 - Caesar Cipher</a><a href="index.html#chapter14" class="relatedcontentlink"> [related content]</a></div>
<div><a href="//chapter15.html" class="chapterlink">Chapter 15 - Reversi</a><a href="index.html#chapter15" class="relatedcontentlink"> [related content]</a></div>
<div><a href="//chapter16.html" class="chapterlink">Chapter 16 - AI Simulation</a><a href="index.html#chapter16" class="relatedcontentlink"> [related content]</a></div>
<div><a href="//chapter17.html" class="chapterlink">Chapter 17 - Graphics and Animation</a><a href="index.html#chapter17" class="relatedcontentlink"> [related content]</a></div>
<div><a href="//chapter18.html" class="chapterlink">Chapter 18 - Collision Detection and Input</a><a href="index.html#chapter18" class="relatedcontentlink"> [related content]</a></div>
<div><a href="//chapter19.html" class="chapterlink">Chapter 19 - Sounds and Images</a><a href="index.html#chapter19" class="relatedcontentlink"> [related content]</a></div>
<div><a href="//chapter20.html" class="chapterlink">Chapter 20 - Dodger</a><a href="index.html#chapter20" class="relatedcontentlink"> [related content]</a></div>


<a name="chapter1"><h2>Chapter 1</h2></a>
<p><span>Read online:</span> <a href="//chapter1.html">Chapter 1 - Installing Python</a></p>
<p>Videos:<br /><ul>
<li><a href="http://www.youtube-nocookie.com/embed/4Mf0h3HphEA">Installing Python on Windows</a></li>
<li><a href="http://www.youtube-nocookie.com/embed/MEmEJCLLI2k">Installing Python 3.1 under MacOSX</a></li>
<li><a href="http://www.youtube-nocookie.com/embed/RLPYBxfAud4">Install Python 3.1 using Linux</a></li>
</ul></p>

<a name="chapter2"><h2>Chapter 2</h2></a>
<p><span>Read online:</span> <a href="//chapter2.html">Chapter 2 - The Interactive Shell</a></p>
<a name="chapter3"><h2>Chapter 3</h2></a>
<p><span>Read online:</span> <a href="//chapter3.html">Chapter 3 - Strings</a></p>
<p><span>Download source:</span>  <a href="/hello.py">hello.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_hello'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="//diff/index.html?p=hello">hello.py</a></p><a name="chapter4"><h2>Chapter 4</h2></a>
<p><span>Read online:</span> <a href="//chapter4.html">Chapter 4 - Guess the Number</a></p>
<p><span>Download source:</span>  <a href="/guess.py">guess.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_guess'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="//diff/index.html?p=guess">guess.py</a></p><a name="chapter5"><h2>Chapter 5</h2></a>
<p><span>Read online:</span> <a href="//chapter5.html">Chapter 5 - Jokes</a></p>
<p><span>Download source:</span>  <a href="/jokes.py">jokes.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_jokes'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="//diff/index.html?p=jokes">jokes.py</a></p><a name="chapter6"><h2>Chapter 6</h2></a>
<p><span>Read online:</span> <a href="//chapter6.html">Chapter 6 - Dragon Realm</a></p>
<p><span>Download source:</span>  <a href="/dragon.py">dragon.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_dragon'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="//diff/index.html?p=dragon">dragon.py</a></p><a name="chapter7"><h2>Chapter 7</h2></a>
<p><span>Read online:</span> <a href="//chapter7.html">Chapter 7 - Using the Debugger</a></p>
<a name="chapter8"><h2>Chapter 8</h2></a>
<p><span>Read online:</span> <a href="//chapter8.html">Chapter 8 - Flow Charts</a></p>
<a name="chapter9"><h2>Chapter 9</h2></a>
<p><span>Read online:</span> <a href="//chapter9.html">Chapter 9 - Hangman</a></p>
<p><span>Download source:</span>  <a href="/hangman.py">hangman.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_hangman'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="//diff/index.html?p=hangman">hangman.py</a></p><a name="chapter10"><h2>Chapter 10</h2></a>
<p><span>Read online:</span> <a href="//chapter10.html">Chapter 10 - Tic Tac Toe</a></p>
<p><span>Download source:</span>  <a href="/tictactoe.py">tictactoe.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_tictactoe'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="//diff/index.html?p=tictactoe">tictactoe.py</a></p><a name="chapter11"><h2>Chapter 11</h2></a>
<p><span>Read online:</span> <a href="//chapter11.html">Chapter 11 - Bagels</a></p>
<p><span>Download source:</span>  <a href="/bagels.py">bagels.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_bagels'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="//diff/index.html?p=bagels">bagels.py</a></p><a name="chapter12"><h2>Chapter 12</h2></a>
<p><span>Read online:</span> <a href="//chapter12.html">Chapter 12 - Cartesian Coordinates</a></p>
<a name="chapter13"><h2>Chapter 13</h2></a>
<p><span>Read online:</span> <a href="//chapter13.html">Chapter 13 - Sonar</a></p>
<p><span>Download source:</span>  <a href="/sonar.py">sonar.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_sonar'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="//diff/index.html?p=sonar">sonar.py</a></p><a name="chapter14"><h2>Chapter 14</h2></a>
<p><span>Read online:</span> <a href="//chapter14.html">Chapter 14 - Caesar Cipher</a></p>
<p><span>Download source:</span>  <a href="/cipher.py">cipher.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_cipher'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="//diff/index.html?p=cipher">cipher.py</a></p><a name="chapter15"><h2>Chapter 15</h2></a>
<p><span>Read online:</span> <a href="//chapter15.html">Chapter 15 - Reversi</a></p>
<p><span>Download source:</span>  <a href="/reversi.py">reversi.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_reversi'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="//diff/index.html?p=reversi">reversi.py</a></p><a name="chapter16"><h2>Chapter 16</h2></a>
<p><span>Read online:</span> <a href="//chapter16.html">Chapter 16 - AI Simulation</a></p>
<p><span>Download source:</span>  <a href="/AISim1.py">AISim1.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_AISim1'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="//diff/index.html?p=AISim1">AISim1.py</a></p><p><span>Download source:</span>  <a href="/AISim2.py">AISim2.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_AISim2'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="//diff/index.html?p=AISim2">AISim2.py</a></p><p><span>Download source:</span>  <a href="/AISim3.py">AISim3.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_AISim3'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="//diff/index.html?p=AISim3">AISim3.py</a></p><a name="chapter17"><h2>Chapter 17</h2></a>
<p><span>Read online:</span> <a href="//chapter17.html">Chapter 17 - Graphics and Animation</a></p>
<p><span>Download source:</span>  <a href="/pygameHelloWorld.py">pygameHelloWorld.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_pygameHelloWorld'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="//diff/index.html?p=pygameHelloWorld">pygameHelloWorld.py</a></p><p>Videos:<br /><ul>
<li><a href="http://www.youtube-nocookie.com/embed/0xgn-HKzZes">Installing Pygame on Windows</a></li>
</ul></p>

<a name="chapter18"><h2>Chapter 18</h2></a>
<p><span>Read online:</span> <a href="//chapter18.html">Chapter 18 - Collision Detection and Input</a></p>
<p><span>Download source:</span>  <a href="/collisionDetection.py">collisionDetection.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_collisionDetection'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="//diff/index.html?p=collisionDetection">collisionDetection.py</a></p><p><span>Download source:</span>  <a href="/pygameInput.py">pygameInput.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_pygameInput'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="//diff/index.html?p=pygameInput">pygameInput.py</a></p><a name="chapter19"><h2>Chapter 19</h2></a>
<p><span>Read online:</span> <a href="//chapter19.html">Chapter 19 - Sounds and Images</a></p>
<p><span>Download source:</span>  <a href="/spritesAndSounds.py">spritesAndSounds.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_spritesAndSounds'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="//diff/index.html?p=spritesAndSounds">spritesAndSounds.py</a></p><p>Downloads:<br /><ul>
<li><a href="/cherry.png">cherry.png</a></li>
<li><a href="/player.png">player.png</a></li>
<li><a href="/background.mid">background.mid</a></li>
<li><a href="/pickup.wav">pickup.wav</a></li>
</ul></p>

<a name="chapter20"><h2>Chapter 20</h2></a>
<p><span>Read online:</span> <a href="//chapter20.html">Chapter 20 - Dodger</a></p>
<p><span>Download source:</span>  <a href="/dodger.py">dodger.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_dodger'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="//diff/index.html?p=dodger">dodger.py</a></p><p>Downloads:<br /><ul>
<li><a href="/baddie.png">baddie.png</a></li>
<li><a href="/player.png">player.png</a></li>
<li><a href="/background.mid">background.mid</a></li>
<li><a href="/gameover.wav">gameover.wav</a></li>
</ul></p>



{% endblock %}