

body {
line-height:1.4em;
font-size:.9em;
background:#333;
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#444;
}

a {
color:#333;
font-size:1.25em;
}

a:link {
color:#333;
}

a:visited {
color:#333;
}

a:hover {
color:#999;
}

.codeheader {
font-size: 1.4em;
}

code {
color:#000;
}

h2 {
line-height:.90em;
margin: 30px 0 10px;
color:#333;
letter-spacing:.9px;
}

#container {
background: #fff;
width:600px;
padding: 20px;
margin-left:100px;
}

.headings {
text-align:right;
margin-top: 40px;
margin-bottom: 20px;
border-bottom: 1px solid #999;
}

#header {
padding:50px 0 5px;
}

#header h1 {
color:#999;
line-height:.1em;
font-size:250%;
margin:0;
padding:0px 20px 0px 20px;
text-align:left;
}

.navlist {
float:left;
width:30%;
margin-bottom:30px;
border-left:1px solid #999;
padding:10px 5px 15px;
background-color: #fff;
}

.navlist ul {
list-style-type:none;
font-size:0.8em;
letter-spacing:-0.01em;
}

.navlist a {
display:block;
width:150px;
padding:4px 5px;
}

.navlist a:link,.navlist a:visited {
color:#333;
text-decoration:none;
border-bottom: 1px solid #fff;
}

.navlist a:hover {
border-bottom: 1px solid #999;
color: #333;
}

#subheader {
margin-bottom: 5px;
padding: 5px;
}

#about {
margin-bottom: 25px;
padding: 5px; }

#blog {
margin-bottom: 25px;
padding: 5px; }

#blog h3 {
line-height:.90em;
margin: 30px 0 10px;
color:#333;
letter-spacing:.9px;
}

#portfolio {
margin-bottom: 25px;
padding: 5px; }

#portfolio a {
font-size:.75em;
}

#portfolio a:link {
text-decoration:none;
color:#333;
}

#portfolio a:visited {
text-decoration:none;
color:#333;
}

#portfolio a:hover {
color:#999;
}
.imgfloat {
border-bottom:1px solid #999;
margin:0 0 0 5px;
padding:15px 5px 5px;
}

.imgfloat a {
display:block;
color:#333;
text-decoration:none;
}

.imgfloat a:hover {
display:block;
color:#333;
text-decoration:none;
}

#contact {
margin-bottom: 25px;
padding: 5px; }

fieldset {
border:1px solid #eee;
}

textarea.text {
height:150px;
width:90%;
border:1px solid #999;
background:#fff;
color:#333;
}

textarea.text:hover {
border:1px solid #eee;
background:#FFFFF5;
color:#333;
}

input.field {
border:1px solid #999;
background-color:#FFF;
width:200px;
color:#333;
}

input.field:hover {
border:1px solid #eee;
background:#FFFFF4;
color:#333;
}

input.text {
width:110px;
border:1px solid #eee;
background:#FFF;
color:#333;
margin:0;
}

input.text:hover {
border:1px solid #999;
}

.date {
text-align:right;
color:#BBB;
border-bottom:#999 1px dashed;
letter-spacing:.25em;
font-weight:100;
line-height:.8em;
font-size:9px;
margin:4px 0 5px;
padding:0.4em 0 5px;
}

input.button {
background:#FFFFF4;
color:gray;
border-right:1px solid #999;
border-bottom:1px solid #999;
}

#footer {
border-top: 1px solid #999;
font-size: 10px;
}

#right {
float: right;
}

.indent {
text-indent: 1em;
}

.defheader {
border-top: 1px solid #DDD;
}