#Options -ExecCGI
AddHandler text/plain .py
# Disable cgi here so users can download the python scripts, not run them.

<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault "access plus 1 week"
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType image/jpg "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
ExpiresByType text/css "access 1 week"
ExpiresByType application/javascript "access plus 1 week"
</IfModule>

RewriteRule ^chapter1$ http://inventwithpython.com/hacking/chapters/index.html#chapter1 [L]
RewriteRule ^chapter1/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter1 [L]
RewriteRule ^chapter2$ http://inventwithpython.com/hacking/chapters/index.html#chapter2 [L]
RewriteRule ^chapter2/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter2 [L]
RewriteRule ^chapter3$ http://inventwithpython.com/hacking/chapters/index.html#chapter3 [L]
RewriteRule ^chapter3/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter3 [L]
RewriteRule ^chapter4$ http://inventwithpython.com/hacking/chapters/index.html#chapter4 [L]
RewriteRule ^chapter4/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter4 [L]
RewriteRule ^chapter5$ http://inventwithpython.com/hacking/chapters/index.html#chapter5 [L]
RewriteRule ^chapter5/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter5 [L]
RewriteRule ^chapter6$ http://inventwithpython.com/hacking/chapters/index.html#chapter6 [L]
RewriteRule ^chapter6/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter6 [L]
RewriteRule ^chapter7$ http://inventwithpython.com/hacking/chapters/index.html#chapter7 [L]
RewriteRule ^chapter7/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter7 [L]
RewriteRule ^chapter8$ http://inventwithpython.com/hacking/chapters/index.html#chapter8 [L]
RewriteRule ^chapter8/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter8 [L]
RewriteRule ^chapter9$ http://inventwithpython.com/hacking/chapters/index.html#chapter9 [L]
RewriteRule ^chapter9/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter9 [L]
RewriteRule ^chapter10$ http://inventwithpython.com/hacking/chapters/index.html#chapter10 [L]
RewriteRule ^chapter10/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter10 [L]
RewriteRule ^chapter11$ http://inventwithpython.com/hacking/chapters/index.html#chapter11 [L]
RewriteRule ^chapter11/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter11 [L]
RewriteRule ^chapter12$ http://inventwithpython.com/hacking/chapters/index.html#chapter12 [L]
RewriteRule ^chapter12/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter12 [L]
RewriteRule ^chapter13$ http://inventwithpython.com/hacking/chapters/index.html#chapter13 [L]
RewriteRule ^chapter13/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter13 [L]
RewriteRule ^chapter14$ http://inventwithpython.com/hacking/chapters/index.html#chapter14 [L]
RewriteRule ^chapter14/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter14 [L]
RewriteRule ^chapter15$ http://inventwithpython.com/hacking/chapters/index.html#chapter15 [L]
RewriteRule ^chapter15/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter15 [L]
RewriteRule ^chapter16$ http://inventwithpython.com/hacking/chapters/index.html#chapter16 [L]
RewriteRule ^chapter16/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter16 [L]
RewriteRule ^chapter17$ http://inventwithpython.com/hacking/chapters/index.html#chapter17 [L]
RewriteRule ^chapter17/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter17 [L]
RewriteRule ^chapter18$ http://inventwithpython.com/hacking/chapters/index.html#chapter18 [L]
RewriteRule ^chapter18/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter18 [L]
RewriteRule ^chapter19$ http://inventwithpython.com/hacking/chapters/index.html#chapter19 [L]
RewriteRule ^chapter19/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter19 [L]
RewriteRule ^chapter20$ http://inventwithpython.com/hacking/chapters/index.html#chapter20 [L]
RewriteRule ^chapter20/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter20 [L]
RewriteRule ^pygame/chapter1$ http://inventwithpython.com/pygame/chapters/index.html#chapter1 [L]
RewriteRule ^pygame/chapter1/index.html$ http://inventwithpython.com/pygame/chapters/index.html#chapter1 [L]
RewriteRule ^pygame/chapter2$ http://inventwithpython.com/pygame/chapters/index.html#chapter2 [L]
RewriteRule ^pygame/chapter2/index.html$ http://inventwithpython.com/pygame/chapters/index.html#chapter2 [L]
RewriteRule ^pygame/chapter3$ http://inventwithpython.com/pygame/chapters/index.html#chapter3 [L]
RewriteRule ^pygame/chapter3/index.html$ http://inventwithpython.com/pygame/chapters/index.html#chapter3 [L]
RewriteRule ^pygame/chapter4$ http://inventwithpython.com/pygame/chapters/index.html#chapter4 [L]
RewriteRule ^pygame/chapter4/index.html$ http://inventwithpython.com/pygame/chapters/index.html#chapter4 [L]
RewriteRule ^pygame/chapter5$ http://inventwithpython.com/pygame/chapters/index.html#chapter5 [L]
RewriteRule ^pygame/chapter5/index.html$ http://inventwithpython.com/pygame/chapters/index.html#chapter5 [L]
RewriteRule ^pygame/chapter6$ http://inventwithpython.com/pygame/chapters/index.html#chapter6 [L]
RewriteRule ^pygame/chapter6/index.html$ http://inventwithpython.com/pygame/chapters/index.html#chapter6 [L]
RewriteRule ^pygame/chapter7$ http://inventwithpython.com/pygame/chapters/index.html#chapter7 [L]
RewriteRule ^pygame/chapter7/index.html$ http://inventwithpython.com/pygame/chapters/index.html#chapter7 [L]
RewriteRule ^pygame/chapter8$ http://inventwithpython.com/pygame/chapters/index.html#chapter8 [L]
RewriteRule ^pygame/chapter8/index.html$ http://inventwithpython.com/pygame/chapters/index.html#chapter8 [L]
RewriteRule ^pygame/chapter9$ http://inventwithpython.com/pygame/chapters/index.html#chapter9 [L]
RewriteRule ^pygame/chapter9/index.html$ http://inventwithpython.com/pygame/chapters/index.html#chapter9 [L]
RewriteRule ^pygame/chapter10$ http://inventwithpython.com/pygame/chapters/index.html#chapter10 [L]
RewriteRule ^pygame/chapter10/index.html$ http://inventwithpython.com/pygame/chapters/index.html#chapter10 [L]
RewriteRule ^hacking/chapter1$ http://inventwithpython.com/hacking/chapters/index.html#chapter1 [L]
RewriteRule ^hacking/chapter1/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter1 [L]
RewriteRule ^hacking/chapter2$ http://inventwithpython.com/hacking/chapters/index.html#chapter2 [L]
RewriteRule ^hacking/chapter2/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter2 [L]
RewriteRule ^hacking/chapter3$ http://inventwithpython.com/hacking/chapters/index.html#chapter3 [L]
RewriteRule ^hacking/chapter3/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter3 [L]
RewriteRule ^hacking/chapter4$ http://inventwithpython.com/hacking/chapters/index.html#chapter4 [L]
RewriteRule ^hacking/chapter4/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter4 [L]
RewriteRule ^hacking/chapter5$ http://inventwithpython.com/hacking/chapters/index.html#chapter5 [L]
RewriteRule ^hacking/chapter5/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter5 [L]
RewriteRule ^hacking/chapter6$ http://inventwithpython.com/hacking/chapters/index.html#chapter6 [L]
RewriteRule ^hacking/chapter6/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter6 [L]
RewriteRule ^hacking/chapter7$ http://inventwithpython.com/hacking/chapters/index.html#chapter7 [L]
RewriteRule ^hacking/chapter7/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter7 [L]
RewriteRule ^hacking/chapter8$ http://inventwithpython.com/hacking/chapters/index.html#chapter8 [L]
RewriteRule ^hacking/chapter8/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter8 [L]
RewriteRule ^hacking/chapter9$ http://inventwithpython.com/hacking/chapters/index.html#chapter9 [L]
RewriteRule ^hacking/chapter9/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter9 [L]
RewriteRule ^hacking/chapter10$ http://inventwithpython.com/hacking/chapters/index.html#chapter10 [L]
RewriteRule ^hacking/chapter10/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter10 [L]
RewriteRule ^hacking/chapter11$ http://inventwithpython.com/hacking/chapters/index.html#chapter11 [L]
RewriteRule ^hacking/chapter11/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter11 [L]
RewriteRule ^hacking/chapter12$ http://inventwithpython.com/hacking/chapters/index.html#chapter12 [L]
RewriteRule ^hacking/chapter12/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter12 [L]
RewriteRule ^hacking/chapter13$ http://inventwithpython.com/hacking/chapters/index.html#chapter13 [L]
RewriteRule ^hacking/chapter13/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter13 [L]
RewriteRule ^hacking/chapter14$ http://inventwithpython.com/hacking/chapters/index.html#chapter14 [L]
RewriteRule ^hacking/chapter14/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter14 [L]
RewriteRule ^hacking/chapter15$ http://inventwithpython.com/hacking/chapters/index.html#chapter15 [L]
RewriteRule ^hacking/chapter15/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter15 [L]
RewriteRule ^hacking/chapter16$ http://inventwithpython.com/hacking/chapters/index.html#chapter16 [L]
RewriteRule ^hacking/chapter16/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter16 [L]
RewriteRule ^hacking/chapter17$ http://inventwithpython.com/hacking/chapters/index.html#chapter17 [L]
RewriteRule ^hacking/chapter17/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter17 [L]
RewriteRule ^hacking/chapter18$ http://inventwithpython.com/hacking/chapters/index.html#chapter18 [L]
RewriteRule ^hacking/chapter18/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter18 [L]
RewriteRule ^hacking/chapter19$ http://inventwithpython.com/hacking/chapters/index.html#chapter19 [L]
RewriteRule ^hacking/chapter19/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter19 [L]
RewriteRule ^hacking/chapter20$ http://inventwithpython.com/hacking/chapters/index.html#chapter20 [L]
RewriteRule ^hacking/chapter20/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter20 [L]
RewriteRule ^hacking/chapter21$ http://inventwithpython.com/hacking/chapters/index.html#chapter21 [L]
RewriteRule ^hacking/chapter21/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter21 [L]
RewriteRule ^hacking/chapter22$ http://inventwithpython.com/hacking/chapters/index.html#chapter22 [L]
RewriteRule ^hacking/chapter22/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter22 [L]
RewriteRule ^hacking/chapter23$ http://inventwithpython.com/hacking/chapters/index.html#chapter23 [L]
RewriteRule ^hacking/chapter23/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter23 [L]
RewriteRule ^hacking/chapter24$ http://inventwithpython.com/hacking/chapters/index.html#chapter24 [L]
RewriteRule ^hacking/chapter24/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter24 [L]