#Options -ExecCGI
AddHandler text/plain .py
# Disable cgi here so users can download the python scripts, not run them.


AddCharset UTF-8 .html

RewriteEngine on

#RewriteCond %{HTTPS} !=on
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^es$ https://inventwithpython.com/es/ [NE,R,L]

# Coupon codes for udemy course/
RewriteRule ^automateudemy$ https://www.udemy.com/course/automate/?couponCode=JUL2021FREE [NE,R,L]
# Also post to:
#https://www.onlinecourses.ooo/
#https://coupons.cnn.com/udemy
#https://www.retailmenot.com/view/udemy.com
#https://coupons.oneindia.com/user/submit



RewriteRule ^sokobanlevels.txt$ https://raw.githubusercontent.com/asweigart/PythonStdioGames/master/src/gamesbyexample/sokobanlevels.txt [NE,R,L]
RewriteRule ^sudokupuzzles.txt$ https://raw.githubusercontent.com/asweigart/PythonStdioGames/master/src/gamesbyexample/sudokupuzzles.txt [NE,R,L]


RewriteRule ^automate$ https://automatetheboringstuff.com/ [NE,R,L]
RewriteRule ^automate/$ https://automatetheboringstuff.com/ [NE,R,L]
RewriteRule ^free$ https://inventwithpython.com/blog/2020/03/26/free-coupon-codes-for-my-online-courses/ [NE,R,L]
RewriteRule ^free/$ https://inventwithpython.com/blog/2020/03/26/free-coupon-codes-for-my-online-courses/ [NE,R,L]

RewriteRule ^inventwithpython3rd.pdf$ https://inventwithpython.com/inventwithpython_3rd.pdf [NE,R,L]

RewriteRule ^chapter1$ https://inventwithpython.com/chapters/index.html#chapter1 [NE,R,L]
RewriteRule ^chapter1/index.html$ https://inventwithpython.com/chapters/index.html#chapter1 [NE,R,L]
RewriteRule ^chapter2$ https://inventwithpython.com/chapters/index.html#chapter2 [NE,R,L]
RewriteRule ^chapter2/index.html$ https://inventwithpython.com/chapters/index.html#chapter2 [NE,R,L]
RewriteRule ^chapter3$ https://inventwithpython.com/chapters/index.html#chapter3 [NE,R,L]
RewriteRule ^chapter3/index.html$ https://inventwithpython.com/chapters/index.html#chapter3 [NE,R,L]
RewriteRule ^chapter4$ https://inventwithpython.com/chapters/index.html#chapter4 [NE,R,L]
RewriteRule ^chapter4/index.html$ https://inventwithpython.com/chapters/index.html#chapter4 [NE,R,L]
RewriteRule ^chapter5$ https://inventwithpython.com/chapters/index.html#chapter5 [NE,R,L]
RewriteRule ^chapter5/index.html$ https://inventwithpython.com/chapters/index.html#chapter5 [NE,R,L]
RewriteRule ^chapter6$ https://inventwithpython.com/chapters/index.html#chapter6 [NE,R,L]
RewriteRule ^chapter6/index.html$ https://inventwithpython.com/chapters/index.html#chapter6 [NE,R,L]
RewriteRule ^chapter7$ https://inventwithpython.com/chapters/index.html#chapter7 [NE,R,L]
RewriteRule ^chapter7/index.html$ https://inventwithpython.com/chapters/index.html#chapter7 [NE,R,L]
RewriteRule ^chapter8$ https://inventwithpython.com/chapters/index.html#chapter8 [NE,R,L]
RewriteRule ^chapter8/index.html$ https://inventwithpython.com/chapters/index.html#chapter8 [NE,R,L]
RewriteRule ^chapter9$ https://inventwithpython.com/chapters/index.html#chapter9 [NE,R,L]
RewriteRule ^chapter9/index.html$ https://inventwithpython.com/chapters/index.html#chapter9 [NE,R,L]
RewriteRule ^chapter10$ https://inventwithpython.com/chapters/index.html#chapter10 [NE,R,L]
RewriteRule ^chapter10/index.html$ https://inventwithpython.com/chapters/index.html#chapter10 [NE,R,L]
RewriteRule ^chapter11$ https://inventwithpython.com/chapters/index.html#chapter11 [NE,R,L]
RewriteRule ^chapter11/index.html$ https://inventwithpython.com/chapters/index.html#chapter11 [NE,R,L]
RewriteRule ^chapter12$ https://inventwithpython.com/chapters/index.html#chapter12 [NE,R,L]
RewriteRule ^chapter12/index.html$ https://inventwithpython.com/chapters/index.html#chapter12 [NE,R,L]
RewriteRule ^chapter13$ https://inventwithpython.com/chapters/index.html#chapter13 [NE,R,L]
RewriteRule ^chapter13/index.html$ https://inventwithpython.com/chapters/index.html#chapter13 [NE,R,L]
RewriteRule ^chapter14$ https://inventwithpython.com/chapters/index.html#chapter14 [NE,R,L]
RewriteRule ^chapter14/index.html$ https://inventwithpython.com/chapters/index.html#chapter14 [NE,R,L]
RewriteRule ^chapter15$ https://inventwithpython.com/chapters/index.html#chapter15 [NE,R,L]
RewriteRule ^chapter15/index.html$ https://inventwithpython.com/chapters/index.html#chapter15 [NE,R,L]
RewriteRule ^chapter16$ https://inventwithpython.com/chapters/index.html#chapter16 [NE,R,L]
RewriteRule ^chapter16/index.html$ https://inventwithpython.com/chapters/index.html#chapter16 [NE,R,L]
RewriteRule ^chapter17$ https://inventwithpython.com/chapters/index.html#chapter17 [NE,R,L]
RewriteRule ^chapter17/index.html$ https://inventwithpython.com/chapters/index.html#chapter17 [NE,R,L]
RewriteRule ^chapter18$ https://inventwithpython.com/chapters/index.html#chapter18 [NE,R,L]
RewriteRule ^chapter18/index.html$ https://inventwithpython.com/chapters/index.html#chapter18 [NE,R,L]
RewriteRule ^chapter19$ https://inventwithpython.com/chapters/index.html#chapter19 [NE,R,L]
RewriteRule ^chapter19/index.html$ https://inventwithpython.com/chapters/index.html#chapter19 [NE,R,L]
RewriteRule ^chapter20$ https://inventwithpython.com/chapters/index.html#chapter20 [NE,R,L]
RewriteRule ^chapter20/index.html$ https://inventwithpython.com/chapters/index.html#chapter20 [NE,R,L]
RewriteRule ^pygame/chapters$ https://inventwithpython.com/pygame/ [NE,R,L]
RewriteRule ^pygame/chapter1$ https://inventwithpython.com/pygame/chapters/index.html#chapter1 [NE,R,L]
RewriteRule ^pygame/chapter1/index.html$ https://inventwithpython.com/pygame/chapters/index.html#chapter1 [NE,R,L]
RewriteRule ^pygame/chapter2$ https://inventwithpython.com/pygame/chapters/index.html#chapter2 [NE,R,L]
RewriteRule ^pygame/chapter2/index.html$ https://inventwithpython.com/pygame/chapters/index.html#chapter2 [NE,R,L]
RewriteRule ^pygame/chapter3$ https://inventwithpython.com/pygame/chapters/index.html#chapter3 [NE,R,L]
RewriteRule ^pygame/chapter3/index.html$ https://inventwithpython.com/pygame/chapters/index.html#chapter3 [NE,R,L]
RewriteRule ^pygame/chapter4$ https://inventwithpython.com/pygame/chapters/index.html#chapter4 [NE,R,L]
RewriteRule ^pygame/chapter4/index.html$ https://inventwithpython.com/pygame/chapters/index.html#chapter4 [NE,R,L]
RewriteRule ^pygame/chapter5$ https://inventwithpython.com/pygame/chapters/index.html#chapter5 [NE,R,L]
RewriteRule ^pygame/chapter5/index.html$ https://inventwithpython.com/pygame/chapters/index.html#chapter5 [NE,R,L]
RewriteRule ^pygame/chapter6$ https://inventwithpython.com/pygame/chapters/index.html#chapter6 [NE,R,L]
RewriteRule ^pygame/chapter6/index.html$ https://inventwithpython.com/pygame/chapters/index.html#chapter6 [NE,R,L]
RewriteRule ^pygame/chapter7$ https://inventwithpython.com/pygame/chapters/index.html#chapter7 [NE,R,L]
RewriteRule ^pygame/chapter7/index.html$ https://inventwithpython.com/pygame/chapters/index.html#chapter7 [NE,R,L]
RewriteRule ^pygame/chapter8$ https://inventwithpython.com/pygame/chapters/index.html#chapter8 [NE,R,L]
RewriteRule ^pygame/chapter8/index.html$ https://inventwithpython.com/pygame/chapters/index.html#chapter8 [NE,R,L]
RewriteRule ^pygame/chapter9$ https://inventwithpython.com/pygame/chapters/index.html#chapter9 [NE,R,L]
RewriteRule ^pygame/chapter9/index.html$ https://inventwithpython.com/pygame/chapters/index.html#chapter9 [NE,R,L]
RewriteRule ^pygame/chapter10$ https://inventwithpython.com/pygame/chapters/index.html#chapter10 [NE,R,L]
RewriteRule ^pygame/chapter10/index.html$ https://inventwithpython.com/pygame/chapters/index.html#chapter10 [NE,R,L]
RewriteRule ^hacking/chapter1$ https://inventwithpython.com/hacking/chapters/index.html#chapter1 [NE,R,L]
RewriteRule ^hacking/chapter1/index.html$ https://inventwithpython.com/hacking/chapters/index.html#chapter1 [NE,R,L]
RewriteRule ^hacking/chapter2$ https://inventwithpython.com/hacking/chapters/index.html#chapter2 [NE,R,L]
RewriteRule ^hacking/chapter2/index.html$ https://inventwithpython.com/hacking/chapters/index.html#chapter2 [NE,R,L]
RewriteRule ^hacking/chapter3$ https://inventwithpython.com/hacking/chapters/index.html#chapter3 [NE,R,L]
RewriteRule ^hacking/chapter3/index.html$ https://inventwithpython.com/hacking/chapters/index.html#chapter3 [NE,R,L]
RewriteRule ^hacking/chapter4$ https://inventwithpython.com/hacking/chapters/index.html#chapter4 [NE,R,L]
RewriteRule ^hacking/chapter4/index.html$ https://inventwithpython.com/hacking/chapters/index.html#chapter4 [NE,R,L]
RewriteRule ^hacking/chapter5$ https://inventwithpython.com/hacking/chapters/index.html#chapter5 [NE,R,L]
RewriteRule ^hacking/chapter5/index.html$ https://inventwithpython.com/hacking/chapters/index.html#chapter5 [NE,R,L]
RewriteRule ^hacking/chapter6$ https://inventwithpython.com/hacking/chapters/index.html#chapter6 [NE,R,L]
RewriteRule ^hacking/chapter6/index.html$ https://inventwithpython.com/hacking/chapters/index.html#chapter6 [NE,R,L]
RewriteRule ^hacking/chapter7$ https://inventwithpython.com/hacking/chapters/index.html#chapter7 [NE,R,L]
RewriteRule ^hacking/chapter7/index.html$ https://inventwithpython.com/hacking/chapters/index.html#chapter7 [NE,R,L]
RewriteRule ^hacking/chapter8$ https://inventwithpython.com/hacking/chapters/index.html#chapter8 [NE,R,L]
RewriteRule ^hacking/chapter8/index.html$ https://inventwithpython.com/hacking/chapters/index.html#chapter8 [NE,R,L]
RewriteRule ^hacking/chapter9$ https://inventwithpython.com/hacking/chapters/index.html#chapter9 [NE,R,L]
RewriteRule ^hacking/chapter9/index.html$ https://inventwithpython.com/hacking/chapters/index.html#chapter9 [NE,R,L]
RewriteRule ^hacking/chapter10$ https://inventwithpython.com/hacking/chapters/index.html#chapter10 [NE,R,L]
RewriteRule ^hacking/chapter10/index.html$ https://inventwithpython.com/hacking/chapters/index.html#chapter10 [NE,R,L]
RewriteRule ^hacking/chapter11$ https://inventwithpython.com/hacking/chapters/index.html#chapter11 [NE,R,L]
RewriteRule ^hacking/chapter11/index.html$ https://inventwithpython.com/hacking/chapters/index.html#chapter11 [NE,R,L]
RewriteRule ^hacking/chapter12$ https://inventwithpython.com/hacking/chapters/index.html#chapter12 [NE,R,L]
RewriteRule ^hacking/chapter12/index.html$ https://inventwithpython.com/hacking/chapters/index.html#chapter12 [NE,R,L]
RewriteRule ^hacking/chapter13$ https://inventwithpython.com/hacking/chapters/index.html#chapter13 [NE,R,L]
RewriteRule ^hacking/chapter13/index.html$ https://inventwithpython.com/hacking/chapters/index.html#chapter13 [NE,R,L]
RewriteRule ^hacking/chapter14$ https://inventwithpython.com/hacking/chapters/index.html#chapter14 [NE,R,L]
RewriteRule ^hacking/chapter14/index.html$ https://inventwithpython.com/hacking/chapters/index.html#chapter14 [NE,R,L]
RewriteRule ^hacking/chapter15$ https://inventwithpython.com/hacking/chapters/index.html#chapter15 [NE,R,L]
RewriteRule ^hacking/chapter15/index.html$ https://inventwithpython.com/hacking/chapters/index.html#chapter15 [NE,R,L]
RewriteRule ^hacking/chapter16$ https://inventwithpython.com/hacking/chapters/index.html#chapter16 [NE,R,L]
RewriteRule ^hacking/chapter16/index.html$ https://inventwithpython.com/hacking/chapters/index.html#chapter16 [NE,R,L]
RewriteRule ^hacking/chapter17$ https://inventwithpython.com/hacking/chapters/index.html#chapter17 [NE,R,L]
RewriteRule ^hacking/chapter17/index.html$ https://inventwithpython.com/hacking/chapters/index.html#chapter17 [NE,R,L]
RewriteRule ^hacking/chapter18$ https://inventwithpython.com/hacking/chapters/index.html#chapter18 [NE,R,L]
RewriteRule ^hacking/chapter18/index.html$ https://inventwithpython.com/hacking/chapters/index.html#chapter18 [NE,R,L]
RewriteRule ^hacking/chapter19$ https://inventwithpython.com/hacking/chapters/index.html#chapter19 [NE,R,L]
RewriteRule ^hacking/chapter19/index.html$ https://inventwithpython.com/hacking/chapters/index.html#chapter19 [NE,R,L]
RewriteRule ^hacking/chapter20$ https://inventwithpython.com/hacking/chapters/index.html#chapter20 [NE,R,L]
RewriteRule ^hacking/chapter20/index.html$ https://inventwithpython.com/hacking/chapters/index.html#chapter20 [NE,R,L]
RewriteRule ^hacking/chapter21$ https://inventwithpython.com/hacking/chapters/index.html#chapter21 [NE,R,L]
RewriteRule ^hacking/chapter21/index.html$ https://inventwithpython.com/hacking/chapters/index.html#chapter21 [NE,R,L]
RewriteRule ^hacking/chapter22$ https://inventwithpython.com/hacking/chapters/index.html#chapter22 [NE,R,L]
RewriteRule ^hacking/chapter22/index.html$ https://inventwithpython.com/hacking/chapters/index.html#chapter22 [NE,R,L]
RewriteRule ^hacking/chapter23$ https://inventwithpython.com/hacking/chapters/index.html#chapter23 [NE,R,L]
RewriteRule ^hacking/chapter23/index.html$ https://inventwithpython.com/hacking/chapters/index.html#chapter23 [NE,R,L]
RewriteRule ^hacking/chapter24$ https://inventwithpython.com/hacking/chapters/index.html#chapter24 [NE,R,L]
RewriteRule ^hacking/chapter24/index.html$ https://inventwithpython.com/hacking/chapters/index.html#chapter24 [NE,R,L]


RewriteRule ^resources https://inventwithpython.com/downloads [NE,R,L]
RewriteRule ^pygame/resources https://inventwithpython.com/pygame/downloads [NE,R,L]
RewriteRule ^hacking/resources https://inventwithpython.com/hacking/downloads [NE,R,L]

RewriteRule ^hacking/practice/1A$ https://inventwithpython.com/hacking/practice/index.html#1A [NE,R,L]
RewriteRule ^hacking/practice/1B$ https://inventwithpython.com/hacking/practice/index.html#1B [NE,R,L]
RewriteRule ^hacking/practice/3A$ https://inventwithpython.com/hacking/practice/index.html#3A [NE,R,L]
RewriteRule ^hacking/practice/3B$ https://inventwithpython.com/hacking/practice/index.html#3B [NE,R,L]
RewriteRule ^hacking/practice/4A$ https://inventwithpython.com/hacking/practice/index.html#4A [NE,R,L]
RewriteRule ^hacking/practice/4B$ https://inventwithpython.com/hacking/practice/index.html#4B [NE,R,L]
RewriteRule ^hacking/practice/4C$ https://inventwithpython.com/hacking/practice/index.html#4C [NE,R,L]
RewriteRule ^hacking/practice/5A$ https://inventwithpython.com/hacking/practice/index.html#5A [NE,R,L]
RewriteRule ^hacking/practice/6A$ https://inventwithpython.com/hacking/practice/index.html#6A [NE,R,L]
RewriteRule ^hacking/practice/6B$ https://inventwithpython.com/hacking/practice/index.html#6B [NE,R,L]
RewriteRule ^hacking/practice/6C$ https://inventwithpython.com/hacking/practice/index.html#6C [NE,R,L]
RewriteRule ^hacking/practice/7A$ https://inventwithpython.com/hacking/practice/index.html#7A [NE,R,L]
RewriteRule ^hacking/practice/8A$ https://inventwithpython.com/hacking/practice/index.html#8A [NE,R,L]
RewriteRule ^hacking/practice/8B$ https://inventwithpython.com/hacking/practice/index.html#8B [NE,R,L]
RewriteRule ^hacking/practice/8C$ https://inventwithpython.com/hacking/practice/index.html#8C [NE,R,L]
RewriteRule ^hacking/practice/8D$ https://inventwithpython.com/hacking/practice/index.html#8D [NE,R,L]
RewriteRule ^hacking/practice/8E$ https://inventwithpython.com/hacking/practice/index.html#8E [NE,R,L]
RewriteRule ^hacking/practice/9A$ https://inventwithpython.com/hacking/practice/index.html#9A [NE,R,L]
RewriteRule ^hacking/practice/9B$ https://inventwithpython.com/hacking/practice/index.html#9B [NE,R,L]
RewriteRule ^hacking/practice/9C$ https://inventwithpython.com/hacking/practice/index.html#9C [NE,R,L]
RewriteRule ^hacking/practice/10A$ https://inventwithpython.com/hacking/practice/index.html#10A [NE,R,L]
RewriteRule ^hacking/practice/11A$ https://inventwithpython.com/hacking/practice/index.html#11A [NE,R,L]
RewriteRule ^hacking/practice/12A$ https://inventwithpython.com/hacking/practice/index.html#12A [NE,R,L]
RewriteRule ^hacking/practice/12B$ https://inventwithpython.com/hacking/practice/index.html#12B [NE,R,L]
RewriteRule ^hacking/practice/12C$ https://inventwithpython.com/hacking/practice/index.html#12C [NE,R,L]
RewriteRule ^hacking/practice/12D$ https://inventwithpython.com/hacking/practice/index.html#12D [NE,R,L]
RewriteRule ^hacking/practice/12E$ https://inventwithpython.com/hacking/practice/index.html#12E [NE,R,L]
RewriteRule ^hacking/practice/13A$ https://inventwithpython.com/hacking/practice/index.html#13A [NE,R,L]
RewriteRule ^hacking/practice/14A$ https://inventwithpython.com/hacking/practice/index.html#14A [NE,R,L]
RewriteRule ^hacking/practice/14B$ https://inventwithpython.com/hacking/practice/index.html#14B [NE,R,L]
RewriteRule ^hacking/practice/14C$ https://inventwithpython.com/hacking/practice/index.html#14C [NE,R,L]
RewriteRule ^hacking/practice/14D$ https://inventwithpython.com/hacking/practice/index.html#14D [NE,R,L]
RewriteRule ^hacking/practice/15A$ https://inventwithpython.com/hacking/practice/index.html#15A [NE,R,L]
RewriteRule ^hacking/practice/16A$ https://inventwithpython.com/hacking/practice/index.html#16A [NE,R,L]
RewriteRule ^hacking/practice/17A$ https://inventwithpython.com/hacking/practice/index.html#17A [NE,R,L]
RewriteRule ^hacking/practice/17B$ https://inventwithpython.com/hacking/practice/index.html#17B [NE,R,L]
RewriteRule ^hacking/practice/17C$ https://inventwithpython.com/hacking/practice/index.html#17C [NE,R,L]
RewriteRule ^hacking/practice/21A$ https://inventwithpython.com/hacking/practice/index.html#21A [NE,R,L]
RewriteRule ^hacking/practice/22A$ https://inventwithpython.com/hacking/practice/index.html#22A [NE,R,L]
RewriteRule ^hacking/practice/24A$ https://inventwithpython.com/hacking/practice/index.html#24A [NE,R,L]
RewriteRule ^hacking/practice/24B$ https://inventwithpython.com/hacking/practice/index.html#24B [NE,R,L]
RewriteRule ^hacking/practice/24C$ https://inventwithpython.com/hacking/practice/index.html#24C [NE,R,L]
RewriteRule ^hacking/practice/24D$ https://inventwithpython.com/hacking/practice/index.html#24D [NE,R,L]

