#Options -ExecCGI
AddHandler text/plain .py
# Disable cgi here so users can download the python scripts, not run them.

AddCharset UTF-8 .html

<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault "access plus 1 day"
ExpiresByType image/gif "access plus 1 day"
ExpiresByType image/png "access plus 1 day"
ExpiresByType image/jpg "access plus 1 day"
ExpiresByType image/jpeg "access plus 1 day"
ExpiresByType text/css "access 1 day"
ExpiresByType application/javascript "access plus 1 day"
</IfModule>

RewriteEngine on

#RewriteCond %{HTTPS} !=on
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^chapter1$ http://inventwithpython.com/chapters/index.html#chapter1 [NE,R,L]
RewriteRule ^chapter1/index.html$ http://inventwithpython.com/chapters/index.html#chapter1 [NE,R,L]
RewriteRule ^chapter2$ http://inventwithpython.com/chapters/index.html#chapter2 [NE,R,L]
RewriteRule ^chapter2/index.html$ http://inventwithpython.com/chapters/index.html#chapter2 [NE,R,L]
RewriteRule ^chapter3$ http://inventwithpython.com/chapters/index.html#chapter3 [NE,R,L]
RewriteRule ^chapter3/index.html$ http://inventwithpython.com/chapters/index.html#chapter3 [NE,R,L]
RewriteRule ^chapter4$ http://inventwithpython.com/chapters/index.html#chapter4 [NE,R,L]
RewriteRule ^chapter4/index.html$ http://inventwithpython.com/chapters/index.html#chapter4 [NE,R,L]
RewriteRule ^chapter5$ http://inventwithpython.com/chapters/index.html#chapter5 [NE,R,L]
RewriteRule ^chapter5/index.html$ http://inventwithpython.com/chapters/index.html#chapter5 [NE,R,L]
RewriteRule ^chapter6$ http://inventwithpython.com/chapters/index.html#chapter6 [NE,R,L]
RewriteRule ^chapter6/index.html$ http://inventwithpython.com/chapters/index.html#chapter6 [NE,R,L]
RewriteRule ^chapter7$ http://inventwithpython.com/chapters/index.html#chapter7 [NE,R,L]
RewriteRule ^chapter7/index.html$ http://inventwithpython.com/chapters/index.html#chapter7 [NE,R,L]
RewriteRule ^chapter8$ http://inventwithpython.com/chapters/index.html#chapter8 [NE,R,L]
RewriteRule ^chapter8/index.html$ http://inventwithpython.com/chapters/index.html#chapter8 [NE,R,L]
RewriteRule ^chapter9$ http://inventwithpython.com/chapters/index.html#chapter9 [NE,R,L]
RewriteRule ^chapter9/index.html$ http://inventwithpython.com/chapters/index.html#chapter9 [NE,R,L]
RewriteRule ^chapter10$ http://inventwithpython.com/chapters/index.html#chapter10 [NE,R,L]
RewriteRule ^chapter10/index.html$ http://inventwithpython.com/chapters/index.html#chapter10 [NE,R,L]
RewriteRule ^chapter11$ http://inventwithpython.com/chapters/index.html#chapter11 [NE,R,L]
RewriteRule ^chapter11/index.html$ http://inventwithpython.com/chapters/index.html#chapter11 [NE,R,L]
RewriteRule ^chapter12$ http://inventwithpython.com/chapters/index.html#chapter12 [NE,R,L]
RewriteRule ^chapter12/index.html$ http://inventwithpython.com/chapters/index.html#chapter12 [NE,R,L]
RewriteRule ^chapter13$ http://inventwithpython.com/chapters/index.html#chapter13 [NE,R,L]
RewriteRule ^chapter13/index.html$ http://inventwithpython.com/chapters/index.html#chapter13 [NE,R,L]
RewriteRule ^chapter14$ http://inventwithpython.com/chapters/index.html#chapter14 [NE,R,L]
RewriteRule ^chapter14/index.html$ http://inventwithpython.com/chapters/index.html#chapter14 [NE,R,L]
RewriteRule ^chapter15$ http://inventwithpython.com/chapters/index.html#chapter15 [NE,R,L]
RewriteRule ^chapter15/index.html$ http://inventwithpython.com/chapters/index.html#chapter15 [NE,R,L]
RewriteRule ^chapter16$ http://inventwithpython.com/chapters/index.html#chapter16 [NE,R,L]
RewriteRule ^chapter16/index.html$ http://inventwithpython.com/chapters/index.html#chapter16 [NE,R,L]
RewriteRule ^chapter17$ http://inventwithpython.com/chapters/index.html#chapter17 [NE,R,L]
RewriteRule ^chapter17/index.html$ http://inventwithpython.com/chapters/index.html#chapter17 [NE,R,L]
RewriteRule ^chapter18$ http://inventwithpython.com/chapters/index.html#chapter18 [NE,R,L]
RewriteRule ^chapter18/index.html$ http://inventwithpython.com/chapters/index.html#chapter18 [NE,R,L]
RewriteRule ^chapter19$ http://inventwithpython.com/chapters/index.html#chapter19 [NE,R,L]
RewriteRule ^chapter19/index.html$ http://inventwithpython.com/chapters/index.html#chapter19 [NE,R,L]
RewriteRule ^chapter20$ http://inventwithpython.com/chapters/index.html#chapter20 [NE,R,L]
RewriteRule ^chapter20/index.html$ http://inventwithpython.com/chapters/index.html#chapter20 [NE,R,L]
RewriteRule ^pygame/chapter1$ http://inventwithpython.com/pygame/chapters/index.html#chapter1 [NE,R,L]
RewriteRule ^pygame/chapter1/index.html$ http://inventwithpython.com/pygame/chapters/index.html#chapter1 [NE,R,L]
RewriteRule ^pygame/chapter2$ http://inventwithpython.com/pygame/chapters/index.html#chapter2 [NE,R,L]
RewriteRule ^pygame/chapter2/index.html$ http://inventwithpython.com/pygame/chapters/index.html#chapter2 [NE,R,L]
RewriteRule ^pygame/chapter3$ http://inventwithpython.com/pygame/chapters/index.html#chapter3 [NE,R,L]
RewriteRule ^pygame/chapter3/index.html$ http://inventwithpython.com/pygame/chapters/index.html#chapter3 [NE,R,L]
RewriteRule ^pygame/chapter4$ http://inventwithpython.com/pygame/chapters/index.html#chapter4 [NE,R,L]
RewriteRule ^pygame/chapter4/index.html$ http://inventwithpython.com/pygame/chapters/index.html#chapter4 [NE,R,L]
RewriteRule ^pygame/chapter5$ http://inventwithpython.com/pygame/chapters/index.html#chapter5 [NE,R,L]
RewriteRule ^pygame/chapter5/index.html$ http://inventwithpython.com/pygame/chapters/index.html#chapter5 [NE,R,L]
RewriteRule ^pygame/chapter6$ http://inventwithpython.com/pygame/chapters/index.html#chapter6 [NE,R,L]
RewriteRule ^pygame/chapter6/index.html$ http://inventwithpython.com/pygame/chapters/index.html#chapter6 [NE,R,L]
RewriteRule ^pygame/chapter7$ http://inventwithpython.com/pygame/chapters/index.html#chapter7 [NE,R,L]
RewriteRule ^pygame/chapter7/index.html$ http://inventwithpython.com/pygame/chapters/index.html#chapter7 [NE,R,L]
RewriteRule ^pygame/chapter8$ http://inventwithpython.com/pygame/chapters/index.html#chapter8 [NE,R,L]
RewriteRule ^pygame/chapter8/index.html$ http://inventwithpython.com/pygame/chapters/index.html#chapter8 [NE,R,L]
RewriteRule ^pygame/chapter9$ http://inventwithpython.com/pygame/chapters/index.html#chapter9 [NE,R,L]
RewriteRule ^pygame/chapter9/index.html$ http://inventwithpython.com/pygame/chapters/index.html#chapter9 [NE,R,L]
RewriteRule ^pygame/chapter10$ http://inventwithpython.com/pygame/chapters/index.html#chapter10 [NE,R,L]
RewriteRule ^pygame/chapter10/index.html$ http://inventwithpython.com/pygame/chapters/index.html#chapter10 [NE,R,L]
RewriteRule ^hacking/chapter1$ http://inventwithpython.com/hacking/chapters/index.html#chapter1 [NE,R,L]
RewriteRule ^hacking/chapter1/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter1 [NE,R,L]
RewriteRule ^hacking/chapter2$ http://inventwithpython.com/hacking/chapters/index.html#chapter2 [NE,R,L]
RewriteRule ^hacking/chapter2/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter2 [NE,R,L]
RewriteRule ^hacking/chapter3$ http://inventwithpython.com/hacking/chapters/index.html#chapter3 [NE,R,L]
RewriteRule ^hacking/chapter3/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter3 [NE,R,L]
RewriteRule ^hacking/chapter4$ http://inventwithpython.com/hacking/chapters/index.html#chapter4 [NE,R,L]
RewriteRule ^hacking/chapter4/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter4 [NE,R,L]
RewriteRule ^hacking/chapter5$ http://inventwithpython.com/hacking/chapters/index.html#chapter5 [NE,R,L]
RewriteRule ^hacking/chapter5/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter5 [NE,R,L]
RewriteRule ^hacking/chapter6$ http://inventwithpython.com/hacking/chapters/index.html#chapter6 [NE,R,L]
RewriteRule ^hacking/chapter6/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter6 [NE,R,L]
RewriteRule ^hacking/chapter7$ http://inventwithpython.com/hacking/chapters/index.html#chapter7 [NE,R,L]
RewriteRule ^hacking/chapter7/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter7 [NE,R,L]
RewriteRule ^hacking/chapter8$ http://inventwithpython.com/hacking/chapters/index.html#chapter8 [NE,R,L]
RewriteRule ^hacking/chapter8/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter8 [NE,R,L]
RewriteRule ^hacking/chapter9$ http://inventwithpython.com/hacking/chapters/index.html#chapter9 [NE,R,L]
RewriteRule ^hacking/chapter9/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter9 [NE,R,L]
RewriteRule ^hacking/chapter10$ http://inventwithpython.com/hacking/chapters/index.html#chapter10 [NE,R,L]
RewriteRule ^hacking/chapter10/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter10 [NE,R,L]
RewriteRule ^hacking/chapter11$ http://inventwithpython.com/hacking/chapters/index.html#chapter11 [NE,R,L]
RewriteRule ^hacking/chapter11/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter11 [NE,R,L]
RewriteRule ^hacking/chapter12$ http://inventwithpython.com/hacking/chapters/index.html#chapter12 [NE,R,L]
RewriteRule ^hacking/chapter12/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter12 [NE,R,L]
RewriteRule ^hacking/chapter13$ http://inventwithpython.com/hacking/chapters/index.html#chapter13 [NE,R,L]
RewriteRule ^hacking/chapter13/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter13 [NE,R,L]
RewriteRule ^hacking/chapter14$ http://inventwithpython.com/hacking/chapters/index.html#chapter14 [NE,R,L]
RewriteRule ^hacking/chapter14/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter14 [NE,R,L]
RewriteRule ^hacking/chapter15$ http://inventwithpython.com/hacking/chapters/index.html#chapter15 [NE,R,L]
RewriteRule ^hacking/chapter15/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter15 [NE,R,L]
RewriteRule ^hacking/chapter16$ http://inventwithpython.com/hacking/chapters/index.html#chapter16 [NE,R,L]
RewriteRule ^hacking/chapter16/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter16 [NE,R,L]
RewriteRule ^hacking/chapter17$ http://inventwithpython.com/hacking/chapters/index.html#chapter17 [NE,R,L]
RewriteRule ^hacking/chapter17/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter17 [NE,R,L]
RewriteRule ^hacking/chapter18$ http://inventwithpython.com/hacking/chapters/index.html#chapter18 [NE,R,L]
RewriteRule ^hacking/chapter18/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter18 [NE,R,L]
RewriteRule ^hacking/chapter19$ http://inventwithpython.com/hacking/chapters/index.html#chapter19 [NE,R,L]
RewriteRule ^hacking/chapter19/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter19 [NE,R,L]
RewriteRule ^hacking/chapter20$ http://inventwithpython.com/hacking/chapters/index.html#chapter20 [NE,R,L]
RewriteRule ^hacking/chapter20/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter20 [NE,R,L]
RewriteRule ^hacking/chapter21$ http://inventwithpython.com/hacking/chapters/index.html#chapter21 [NE,R,L]
RewriteRule ^hacking/chapter21/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter21 [NE,R,L]
RewriteRule ^hacking/chapter22$ http://inventwithpython.com/hacking/chapters/index.html#chapter22 [NE,R,L]
RewriteRule ^hacking/chapter22/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter22 [NE,R,L]
RewriteRule ^hacking/chapter23$ http://inventwithpython.com/hacking/chapters/index.html#chapter23 [NE,R,L]
RewriteRule ^hacking/chapter23/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter23 [NE,R,L]
RewriteRule ^hacking/chapter24$ http://inventwithpython.com/hacking/chapters/index.html#chapter24 [NE,R,L]
RewriteRule ^hacking/chapter24/index.html$ http://inventwithpython.com/hacking/chapters/index.html#chapter24 [NE,R,L]


RewriteRule ^resources http://inventwithpython.com/downloads [NE,R,L]
RewriteRule ^pygame/resources http://inventwithpython.com/pygame/downloads [NE,R,L]
RewriteRule ^hacking/resources http://inventwithpython.com/hacking/downloads [NE,R,L]

RewriteRule ^hacking/practice/1A$ http://inventwithpython.com/hacking/practice/index.html#1A [NE,R,L]
RewriteRule ^hacking/practice/1B$ http://inventwithpython.com/hacking/practice/index.html#1B [NE,R,L]
RewriteRule ^hacking/practice/3A$ http://inventwithpython.com/hacking/practice/index.html#3A [NE,R,L]
RewriteRule ^hacking/practice/3B$ http://inventwithpython.com/hacking/practice/index.html#3B [NE,R,L]
RewriteRule ^hacking/practice/4A$ http://inventwithpython.com/hacking/practice/index.html#4A [NE,R,L]
RewriteRule ^hacking/practice/4B$ http://inventwithpython.com/hacking/practice/index.html#4B [NE,R,L]
RewriteRule ^hacking/practice/4C$ http://inventwithpython.com/hacking/practice/index.html#4C [NE,R,L]
RewriteRule ^hacking/practice/5A$ http://inventwithpython.com/hacking/practice/index.html#5A [NE,R,L]
RewriteRule ^hacking/practice/6A$ http://inventwithpython.com/hacking/practice/index.html#6A [NE,R,L]
RewriteRule ^hacking/practice/6B$ http://inventwithpython.com/hacking/practice/index.html#6B [NE,R,L]
RewriteRule ^hacking/practice/6C$ http://inventwithpython.com/hacking/practice/index.html#6C [NE,R,L]
RewriteRule ^hacking/practice/7A$ http://inventwithpython.com/hacking/practice/index.html#7A [NE,R,L]
RewriteRule ^hacking/practice/8A$ http://inventwithpython.com/hacking/practice/index.html#8A [NE,R,L]
RewriteRule ^hacking/practice/8B$ http://inventwithpython.com/hacking/practice/index.html#8B [NE,R,L]
RewriteRule ^hacking/practice/8C$ http://inventwithpython.com/hacking/practice/index.html#8C [NE,R,L]
RewriteRule ^hacking/practice/8D$ http://inventwithpython.com/hacking/practice/index.html#8D [NE,R,L]
RewriteRule ^hacking/practice/8E$ http://inventwithpython.com/hacking/practice/index.html#8E [NE,R,L]
RewriteRule ^hacking/practice/9A$ http://inventwithpython.com/hacking/practice/index.html#9A [NE,R,L]
RewriteRule ^hacking/practice/9B$ http://inventwithpython.com/hacking/practice/index.html#9B [NE,R,L]
RewriteRule ^hacking/practice/9C$ http://inventwithpython.com/hacking/practice/index.html#9C [NE,R,L]
RewriteRule ^hacking/practice/10A$ http://inventwithpython.com/hacking/practice/index.html#10A [NE,R,L]
RewriteRule ^hacking/practice/11A$ http://inventwithpython.com/hacking/practice/index.html#11A [NE,R,L]
RewriteRule ^hacking/practice/12A$ http://inventwithpython.com/hacking/practice/index.html#12A [NE,R,L]
RewriteRule ^hacking/practice/12B$ http://inventwithpython.com/hacking/practice/index.html#12B [NE,R,L]
RewriteRule ^hacking/practice/12C$ http://inventwithpython.com/hacking/practice/index.html#12C [NE,R,L]
RewriteRule ^hacking/practice/12D$ http://inventwithpython.com/hacking/practice/index.html#12D [NE,R,L]
RewriteRule ^hacking/practice/12E$ http://inventwithpython.com/hacking/practice/index.html#12E [NE,R,L]
RewriteRule ^hacking/practice/13A$ http://inventwithpython.com/hacking/practice/index.html#13A [NE,R,L]
RewriteRule ^hacking/practice/14A$ http://inventwithpython.com/hacking/practice/index.html#14A [NE,R,L]
RewriteRule ^hacking/practice/14B$ http://inventwithpython.com/hacking/practice/index.html#14B [NE,R,L]
RewriteRule ^hacking/practice/14C$ http://inventwithpython.com/hacking/practice/index.html#14C [NE,R,L]
RewriteRule ^hacking/practice/14D$ http://inventwithpython.com/hacking/practice/index.html#14D [NE,R,L]
RewriteRule ^hacking/practice/15A$ http://inventwithpython.com/hacking/practice/index.html#15A [NE,R,L]
RewriteRule ^hacking/practice/16A$ http://inventwithpython.com/hacking/practice/index.html#16A [NE,R,L]
RewriteRule ^hacking/practice/17A$ http://inventwithpython.com/hacking/practice/index.html#17A [NE,R,L]
RewriteRule ^hacking/practice/17B$ http://inventwithpython.com/hacking/practice/index.html#17B [NE,R,L]
RewriteRule ^hacking/practice/17C$ http://inventwithpython.com/hacking/practice/index.html#17C [NE,R,L]
RewriteRule ^hacking/practice/21A$ http://inventwithpython.com/hacking/practice/index.html#21A [NE,R,L]
RewriteRule ^hacking/practice/22A$ http://inventwithpython.com/hacking/practice/index.html#22A [NE,R,L]
RewriteRule ^hacking/practice/24A$ http://inventwithpython.com/hacking/practice/index.html#24A [NE,R,L]
RewriteRule ^hacking/practice/24B$ http://inventwithpython.com/hacking/practice/index.html#24B [NE,R,L]
RewriteRule ^hacking/practice/24C$ http://inventwithpython.com/hacking/practice/index.html#24C [NE,R,L]
RewriteRule ^hacking/practice/24D$ http://inventwithpython.com/hacking/practice/index.html#24D [NE,R,L]
