
<footer class="container-fluid text-center">
  <p>Copyright 2009-<script type="text/javascript">document.write(new Date().getFullYear());</script>  | <a href="mailto:al@inventwithpython.com">al@inventwithpython.com</a> | <a href="https://twitter.com/AlSweigart">@AlSweigart</a></p>

  <p><img src="images/black-lives-matter.webp" alt="Black Lives Matter" /> <img src="images/trans-rights-are-human-rights.webp" alt="Trans Rights Are Human Rights" /> <img src="images/tax-the-rich.webp" alt="Tax the Rich" /></p>
  <p>BLACK LIVES MATTER | TRANS RIGHTS ARE HUMAN RIGHTS | TAX THE RICH</p>
</footer>

</body>
</html>
