  <div id='headerarea'>
    <table border="0"><tr><td rowspan="2"><a href="index.html"><img src="images/header.png" id="headerimage" /></a></td>
    <td><br /><em><center style="font-size: 0.75em;">Click to view the other books</center></em></td></tr><tr><td>
    <a href="index.html"><img src="images/otherbooks_invent.png" style="margin-left: 20px; margin-bottom: 30px; padding-right: 0px;" /></a> <a href="pygame/index.html"><img src="images/otherbooks_pygame.png" style="margin-bottom: 30px; padding-left: 0px;" /></a> <a href="hacking/index.html"><img src="images/otherbooks_hacking.png" style="margin-bottom: 30px; padding-left: 0px;" /></a>
    </td></tr></table>
  </div>
