<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <!--<base href="{{ base_href }}" />-->
  <link rel="stylesheet" type="text/css" href="/inventweb_{{name}}.css" />

  <title>{{title}}</title>
  <script type="text/javascript">
//<![CDATA[

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5459430-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  //]]>
  </script>
  <meta name="author" content="Al Sweigart" />
</head>

<body>
  <!-- Facebook like button code -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <div id='headerarea'>
    <table border="0">
      <tr>
        <td rowspan="3"><a href="{{home}}"><img src="/images/header_{{name}}.png" id="headerimage" name="headerimage" alt="header image" /></a></td>

        <td colspan="3">
          <br />

          <center style="font-size: 0.75em;">
            <em>Click to view the other books</em>
          </center>
        </td>
      </tr>

      <tr>
        <td colspan="3"><a href="/index.html"><img src="/images/otherbooks_invent.png" style="margin-left: 20px; padding-right: 0px;" alt="Invent with Python cover thumbnail" /></a> <a href="/pygame/index.html"><img src="/images/otherbooks_pygame.png" style="padding-left: 0px;" alt="Making Games cover thumbnail" /></a> <a href="/hacking/index.html"><img src="/images/otherbooks_hacking.png" style="padding-left: 0px;" alt="Hacking Secret Ciphers cover thumbnail" /></a></td>
      </tr>

      <tr>
        <td><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://InventWithPython.com" data-text="Learn to code by making games and hacking ciphers! Free books at" data-via="AlSweigart">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></td>

        <td><div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div></td>

        <td><a href="//www.stumbleupon.com/submit?url=http%3A%2F%2Finventwithpython.com"><img src="/images/stumbleuponicon.png" alt="Vote up on StumbleUpon.com" /></a></td>
      </tr>
    </table>
  </div>
