<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/inventwithpython.css">
  <!--<link rel="stylesheet" href="/css/tether.min.css">-->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/jquery-3.2.1.min.js"></script>
  <!--<script src="/js/tether.min.js"></script>-->
  <script src="/js/bootstrap.min.js"></script>
  <script>
      // Redirect to https:
      var loc = window.location.href + '';
      if (loc.indexOf('http://') == 0) {
          window.location.href = loc.replace('http://','https://');
      }
  </script>
  <style>
  .testimonial-attribution { text-align: right; }
  .cover-thumb { height: 250px; margin-left: auto; margin-right: auto; }
  .testimonial { margin-top: 40px; margin-left: 20px; margin-right: 20px; }
  .card { border: 0px; }
  .row { margin-bottom: 20px; }
  .btn { margin-top: 10px; }

  </style>
</head>
<body style="background-color: #caeab7;">

<nav class="navbar navbar-toggleable-md">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon text-white">☰</span>
  </button>
  <a class="navbar-brand" href="/">Invent with Python</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownReadMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Read for Free
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownReadMenuLink">
          <a class="dropdown-item" href="https://automatetheboringstuff.com">Automate the Boring Stuff with Python</a>
          <a class="dropdown-item" href="https://inventwithpython.com/bigbookpython/">The Big Book of Small Python Projects</a>
          <a class="dropdown-item" href="https://inventwithpython.com/beyond/">Beyond the Basic Stuff with Python</a>
          <a class="dropdown-item" href="https://turtleappstore.com/book/">Coding with Minecraft</a>
          <a class="dropdown-item" href="https://inventwithpython.com/cracking">Cracking Codes with Python</a>
          <a class="dropdown-item" href="https://inventwithpython.com/invent4thed">Invent Your Own Computer Games with Python</a>
          <a class="dropdown-item" href="https://inventwithpython.com/pygame">Making Games with Python &amp; Pygame</a>
          <a class="dropdown-item" href="https://inventwithscratch.com">Scratch Programming Playground</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownBuyMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Buy Books
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownBuyMenuLink">
          <a class="dropdown-item" href="https://nostarch.com/automatestuff2">Automate the Boring Stuff with Python</a>
          <a class="dropdown-item" href="https://nostarch.com/big-book-small-python-projects">The Big Book of Small Python Projects</a>
          <a class="dropdown-item" href="https://nostarch.com/beyond-basic-stuff-python">Beyond the Basic Stuff with Python</a>
          <a class="dropdown-item" href="https://nostarch.com/codingwithminecraft">Coding with Minecraft</a>
          <a class="dropdown-item" href="https://nostarch.com/crackingcodes">Cracking Codes with Python</a>
          <a class="dropdown-item" href="https://nostarch.com/inventwithpython">Invent Your Own Computer Games with Python</a>
          <a class="dropdown-item" href="https://www.amazon.com/Making-Games-Python-Pygame-Sweigart/dp/1469901730?ie=UTF8&tag=playwithpyth-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=0982106017">Making Games with Python &amp; Pygame</a>
          <a class="dropdown-item" href="https://nostarch.com/scratch3playground">Scratch 3 Programming Playground</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownUdemyMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Udemy Courses
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownUdemyMenuLink">
          <a class="dropdown-item" href="https://inventwithpython.com/automateudemy">Automate the Boring Stuff with Python</a>
          <a class="dropdown-item" href="https://www.youtube.com/watch?v=kSrnLbioN6w&list=PL0-84-yl1fUmeV_2bBSguF_S0TVZk8wow">Beyond the Basic Stuff with Python</a>
          <a class="dropdown-item" href="https://www.udemy.com/scratch-game-programming/">Scratch Programming Playground</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="https://www.youtube.com/user/Albert10110">YouTube</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="https://www.reddit.com/r/inventwithpython">Subreddit</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/blog">Blog</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/#donate">Donate</a>
      </li>
    </ul>
  </div>
</nav>