<head>
    <base href="{{ base_href }}" />
    <link rel="stylesheet" type="text/css" href="inventweb_hacking.css" />
    <title>{{title}}</title>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5459430-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

    <meta name="description" content="Invent Your Own Computer Games with Python is a free ebook programming tutorial for the Python programming language. Learn how to program by making fun games!" />
    <meta name="keywords" content="Python, Invent Your Own Computer Games with Python, Invent with Python, tutorial, object-oriented, programming, documentation, book, free, ebook, Dive Into Python">
    <meta name="author" content="Al Sweigart" />

    <link rel="stylesheet" type="text/css" href="inventweb_invent.css" />
</head>