{% extends "base.html" %}
{% set title = 'Cracking Codes with Python' %}

{% block content %}

<div class="jumbotron" style='margin-bottom: 0px; background-color: #fffad0; background-image: url("../images/jumbotron_cracking.png");'>
  <h1 class="display-3">Cracking Codes with Python Review Offer</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p><em>Cracking Codes with Python</em> teaches complete beginners how to program in the Python programming language. The book features the source code to several ciphers and hacking programs for these ciphers.</p>

      <p>If you'd like to receive a free print copy of <em>Cracking Codes with Python</em>, please fill out the form at <a href="https://goo.gl/forms/vylfjeQLRdioOQ3C2">https://goo.gl/forms/vylfjeQLRdioOQ3C2</a>. Please specify you want "Cracking Codes with Python". You'll receive a free ebook to read, and upon posting a review to Amazon, you will receive a complementary print review copy of the book. (UPDATE: There's been a large amount of interest, and I can't guarantee you'll get a print book. However, I can definitely send you an ebook to review.)</p>

      <p><strong>To demonstrate that you will be able to write a review, please send me a link to an Amazon, Goodreads, or Powells review you have written before.</strong> If you haven't written an Amazon review before, please explicitly tell me in your email you have an Amazon account and can post reviews. <em>Also, please include the word "walrus" in the subject of your email so I know you read this.</em> I'm happy to send out books to reviewers, but I can only respond to serious inquiries from folks who have read these instructions.</p>

      <p>Please post an honest review. Posting a negative review will not impact whether or not you get a free print book. The only requirements are that the review be a minimum of 100 words, you must live within the United States (due to shipping costs), you must have purchased $50 off Amazon in the last year (Amazon has this requirement before you can write a review),  and that you email me first before writing the review.</p>

      <p>Thanks!,<br />-Al Sweigart</p>
    </div>
  </div>
</div>

{% endblock %}