{% extends "base.html" %}
{% set title = 'Hacking Secret Ciphers - Chapters' %}
{% block content %}


<h1>Chapters</h1>

<p>Download the <a href='../hackingciphers.pdf' onClick="javascript: pageTracker._trackPageview('/hackingciphers.pdf'); ">complete book as a PDF. <img src='images/icon_pdf.gif' border='0' /></a></p>

<!--<p>Download the <a href='../hackingciphers.mobi' onClick="javascript: pageTracker._trackPageview('/hackingciphers.mobi'); ">complete book as a .mobi (for Kindle and eReaders).</a></p>-->


<div><a href="hacking/chapter1.html" class="chapterlink">Chapter 1 - Making Paper Cryptography Tools</a> <a href="hacking/chapter1" class="relatedcontentlink">[related content]</a></div>
<div><a href="hacking/chapter2.html" class="chapterlink">Chapter 2 - Downloading and Installing Python</a> <a href="hacking/chapter2" class="relatedcontentlink">[related content]</a></div>
<div><a href="hacking/chapter3.html" class="chapterlink">Chapter 3 - The Interactive Shell</a> <a href="hacking/chapter3" class="relatedcontentlink">[related content]</a></div>
<div><a href="hacking/chapter4.html" class="chapterlink">Chapter 4 - Strings and Writing Programs</a> <a href="hacking/chapter4" class="relatedcontentlink">[related content]</a></div>
<div><a href="hacking/chapter5.html" class="chapterlink">Chapter 5 - The Reverse Cipher</a> <a href="hacking/chapter5" class="relatedcontentlink">[related content]</a></div>
<div><a href="hacking/chapter6.html" class="chapterlink">Chapter 6 - The Caesar Cipher</a> <a href="hacking/chapter6" class="relatedcontentlink">[related content]</a></div>
<div><a href="hacking/chapter7.html" class="chapterlink">Chapter 7 - Hacking the Caesar Cipher with the Brute Force Technique</a> <a href="hacking/chapter7" class="relatedcontentlink">[related content]</a></div>
<div><a href="hacking/chapter8.html" class="chapterlink">Chapter 8 - The Transposition Cipher, Encrypting</a> <a href="hacking/chapter8" class="relatedcontentlink">[related content]</a></div>
<div><a href="hacking/chapter9.html" class="chapterlink">Chapter 9 - The Transposition Cipher, Decrypting</a> <a href="hacking/chapter9" class="relatedcontentlink">[related content]</a></div>
<div><a href="hacking/chapter10.html" class="chapterlink">Chapter 10 - Programming a Program to Test Our Program</a> <a href="hacking/chapter10" class="relatedcontentlink">[related content]</a></div>
<div><a href="hacking/chapter11.html" class="chapterlink">Chapter 11 - Encrypting and Decrypting Files</a> <a href="hacking/chapter11" class="relatedcontentlink">[related content]</a></div>
<div><a href="hacking/chapter12.html" class="chapterlink">Chapter 12 - Detecting English Programmatically</a> <a href="hacking/chapter12" class="relatedcontentlink">[related content]</a></div>
<div><a href="hacking/chapter13.html" class="chapterlink">Chapter 13 - Hacking the Transposition Cipher</a> <a href="hacking/chapter13" class="relatedcontentlink">[related content]</a></div>
<div><a href="hacking/chapter14.html" class="chapterlink">Chapter 14 - Modular Arithmetic and the Multiplicative Cipher</a> <a href="hacking/chapter14" class="relatedcontentlink">[related content]</a></div>
<div><a href="hacking/chapter15.html" class="chapterlink">Chapter 15 - The Affine Cipher</a> <a href="hacking/chapter15" class="relatedcontentlink">[related content]</a></div>
<div><a href="hacking/chapter16.html" class="chapterlink">Chapter 16 - Hacking the Affine Cipher</a> <a href="hacking/chapter16" class="relatedcontentlink">[related content]</a></div>
<div><a href="hacking/chapter17.html" class="chapterlink">Chapter 17 - The Simple Substitution Cipher</a> <a href="hacking/chapter17" class="relatedcontentlink">[related content]</a></div>
<div><a href="hacking/chapter18.html" class="chapterlink">Chapter 18 - Hacking the Simple Substitution Cipher</a> <a href="hacking/chapter18" class="relatedcontentlink">[related content]</a></div>
<div><a href="hacking/chapter19.html" class="chapterlink">Chapter 19 - The Vigenère Cipher</a> <a href="hacking/chapter19" class="relatedcontentlink">[related content]</a></div>
<div><a href="hacking/chapter20.html" class="chapterlink">Chapter 20 - Frequency Analysis</a> <a href="hacking/chapter20" class="relatedcontentlink">[related content]</a></div>
<div><a href="hacking/chapter21.html" class="chapterlink">Chapter 21 - Hacking the Vigenère Cipher</a> <a href="hacking/chapter21" class="relatedcontentlink">[related content]</a></div>
<div><a href="hacking/chapter22.html" class="chapterlink">Chapter 22 - The One-Time Pad Cipher</a> <a href="hacking/chapter22" class="relatedcontentlink">[related content]</a></div>
<div><a href="hacking/chapter23.html" class="chapterlink">Chapter 23 - Finding Prime Numbers</a> <a href="hacking/chapter23" class="relatedcontentlink">[related content]</a></div>
<div><a href="hacking/chapter24.html" class="chapterlink">Chapter 24 - Public Key Cryptography and the RSA Cipher</a> <a href="hacking/chapter24" class="relatedcontentlink">[related content]</a></div>


<p>This book is brought to you by the encouragement and donation of many kind folk.</p>

<!-- DONATE STUFF SHOULD GO HERE -->
<iframe src="gimme.html" width="100%" height="140" frameborder='0'>
<script language="javascript" type="text/javascript" src="gimme/gimmewidget.php"></script>
</iframe>



{% endblock %}