{% extends "baseHacking.html" %}
{% set title = 'Hacking Secret Ciphers with Python' %}
{% block content %}

<h1>Chapters</h1>

TODO - DOWNLOAD PDF LINK

<div><a href="chapter1.html" class="chapterlink">Chapter 1 - Making Paper Cryptography Tools</a><a href="index.html#chapter1" class="relatedcontentlink"> [related content]</a></div>
<div><a href="chapter2.html" class="chapterlink">Chapter 2 - Downloading and Installing Python</a><a href="index.html#chapter2" class="relatedcontentlink"> [related content]</a></div>
<div><a href="chapter3.html" class="chapterlink">Chapter 3 - The Interactive Shell</a><a href="index.html#chapter3" class="relatedcontentlink"> [related content]</a></div>
<div><a href="chapter4.html" class="chapterlink">Chapter 4 - String and Writing Programs</a><a href="index.html#chapter4" class="relatedcontentlink"> [related content]</a></div>
<div><a href="chapter5.html" class="chapterlink">Chapter 5 - The Reverse Cipher</a><a href="index.html#chapter5" class="relatedcontentlink"> [related content]</a></div>
<div><a href="chapter6.html" class="chapterlink">Chapter 6 - The Caesar Cipher</a><a href="index.html#chapter6" class="relatedcontentlink"> [related content]</a></div>
<div><a href="chapter7.html" class="chapterlink">Chapter 7 - Hacking the Caesar Cipher with the Brute Force Technique</a><a href="index.html#chapter7" class="relatedcontentlink"> [related content]</a></div>
<div><a href="chapter8.html" class="chapterlink">Chapter 8 - The Transposition Cipher, Encrypting</a><a href="index.html#chapter8" class="relatedcontentlink"> [related content]</a></div>
<div><a href="chapter9.html" class="chapterlink">Chapter 9 - The Transposition Cipher, Decrypting</a><a href="index.html#chapter9" class="relatedcontentlink"> [related content]</a></div>
<div><a href="chapter10.html" class="chapterlink">Chapter 10 - Programming a Program to Test Our Program</a><a href="index.html#chapter10" class="relatedcontentlink"> [related content]</a></div>
<div><a href="chapter11.html" class="chapterlink">Chapter 11 - Encrypting and Decrypting Files</a><a href="index.html#chapter11" class="relatedcontentlink"> [related content]</a></div>
<div><a href="chapter12.html" class="chapterlink">Chapter 12 - Detecting English Programmatically</a><a href="index.html#chapter12" class="relatedcontentlink"> [related content]</a></div>
<div><a href="chapter13.html" class="chapterlink">Chapter 13 - Hacking the Transposition Cipher</a><a href="index.html#chapter13" class="relatedcontentlink"> [related content]</a></div>
<div><a href="chapter14.html" class="chapterlink">Chapter 14 - Modular Arithmetic and the Multiplicative Cipher</a><a href="index.html#chapter14" class="relatedcontentlink"> [related content]</a></div>
<div><a href="chapter15.html" class="chapterlink">Chapter 15 - The Affine Cipher</a><a href="index.html#chapter15" class="relatedcontentlink"> [related content]</a></div>
<div><a href="chapter16.html" class="chapterlink">Chapter 16 - Hacking the Affine Cipher</a><a href="index.html#chapter16" class="relatedcontentlink"> [related content]</a></div>
<div><a href="chapter17.html" class="chapterlink">Chapter 17 - The Simple Substitution Cipher</a><a href="index.html#chapter17" class="relatedcontentlink"> [related content]</a></div>
<div><a href="chapter18.html" class="chapterlink">Chapter 18 - Hacking the Simple Substitution Cipher</a><a href="index.html#chapter18" class="relatedcontentlink"> [related content]</a></div>
<div><a href="chapter19.html" class="chapterlink">Chapter 19 - The Vigenère Cipher</a><a href="index.html#chapter19" class="relatedcontentlink"> [related content]</a></div>
<div><a href="chapter20.html" class="chapterlink">Chapter 20 - Frequency Analysis</a><a href="index.html#chapter20" class="relatedcontentlink"> [related content]</a></div>
<div><a href="chapter21.html" class="chapterlink">Chapter 21 - Hacking the Vigenère Cipher</a><a href="index.html#chapter21" class="relatedcontentlink"> [related content]</a></div>
<div><a href="chapter22.html" class="chapterlink">Chapter 22 - The One-Time Pad Cipher</a><a href="index.html#chapter22" class="relatedcontentlink"> [related content]</a></div>
<div><a href="chapter23.html" class="chapterlink">Chapter 23 - Finding Prime Numbers</a><a href="index.html#chapter23" class="relatedcontentlink"> [related content]</a></div>
<div><a href="chapter24.html" class="chapterlink">Chapter 24 - Public Key Cryptography and the RSA Cipher</a><a href="index.html#chapter24" class="relatedcontentlink"> [related content]</a></div>


<a name="chapter1"><h2>Chapter 1</h2></a>
<p><span>Read online:</span> <a href="chapter1.html">Chapter 1 - Making Paper Cryptography Tools</a></p>
<li><a href="http://inventwithpython.com/cipherwheel/cipherdisk_cutout_page.pdf">PDF of the Caesar Cipher Wheel</a></li>
<li><a href="http://inventwithpython.com/cipherwheel">PDF of the Caesar Cipher Wheel</a></li>
</ul></p>

<a name="chapter2"><h2>Chapter 2</h2></a>
<p><span>Read online:</span> <a href="chapter2.html">Chapter 2 - Downloading and Installing Python</a></p>
<li><a href="http://www.python.org/getit/">Download Python 3</a></li>
<li><a href="http://inventwithpython.com/pyperclip.py">Download Python 3</a></li>
</ul></p>

<a name="chapter3"><h2>Chapter 3</h2></a>
<p><span>Read online:</span> <a href="chapter3.html">Chapter 3 - The Interactive Shell</a></p>
<a name="chapter4"><h2>Chapter 4</h2></a>
<p><span>Read online:</span> <a href="chapter4.html">Chapter 4 - String and Writing Programs</a></p>
<p><span>Download source:</span>  <a href="../source/hello.py">hello.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_hello'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=hello">hello.py</a></p><a name="chapter5"><h2>Chapter 5</h2></a>
<p><span>Read online:</span> <a href="chapter5.html">Chapter 5 - The Reverse Cipher</a></p>
<p><span>Download source:</span>  <a href="../source/reverseCipher.py">reverseCipher.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_reverseCipher'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=reverseCipher">reverseCipher.py</a></p><a name="chapter6"><h2>Chapter 6</h2></a>
<p><span>Read online:</span> <a href="chapter6.html">Chapter 6 - The Caesar Cipher</a></p>
<p><span>Download source:</span>  <a href="../source/caesarCipher.py">caesarCipher.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_caesarCipher'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=caesarCipher">caesarCipher.py</a></p><p><span>Download source:</span>  <a href="../source/caesarCipher2.py">caesarCipher2.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_caesarCipher2'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=caesarCipher2">caesarCipher2.py</a></p><p><span>Download source:</span>  <a href="../source/password.py">password.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_password'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=password">password.py</a></p><p><span>Download source:</span>  <a href="../source/password2.py">password2.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_password2'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=password2">password2.py</a></p><p><span>Download source:</span>  <a href="../source/elifeggs.py">elifeggs.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_elifeggs'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=elifeggs">elifeggs.py</a></p><a name="chapter7"><h2>Chapter 7</h2></a>
<p><span>Read online:</span> <a href="chapter7.html">Chapter 7 - Hacking the Caesar Cipher with the Brute Force Technique</a></p>
<p><span>Download source:</span>  <a href="../source/caesarHacker.py">caesarHacker.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_caesarHacker'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=caesarHacker">caesarHacker.py</a></p><a name="chapter8"><h2>Chapter 8</h2></a>
<p><span>Read online:</span> <a href="chapter8.html">Chapter 8 - The Transposition Cipher, Encrypting</a></p>
<p><span>Download source:</span>  <a href="../source/transpositionEncrypt.py">transpositionEncrypt.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_transpositionEncrypt'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=transpositionEncrypt">transpositionEncrypt.py</a></p><a name="chapter9"><h2>Chapter 9</h2></a>
<p><span>Read online:</span> <a href="chapter9.html">Chapter 9 - The Transposition Cipher, Decrypting</a></p>
<p><span>Download source:</span>  <a href="../source/transpositionDecrypt.py">transpositionDecrypt.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_transpositionDecrypt'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=transpositionDecrypt">transpositionDecrypt.py</a></p><a name="chapter10"><h2>Chapter 10</h2></a>
<p><span>Read online:</span> <a href="chapter10.html">Chapter 10 - Programming a Program to Test Our Program</a></p>
<p><span>Download source:</span>  <a href="../source/transpositionTest.py">transpositionTest.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_transpositionTest'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=transpositionTest">transpositionTest.py</a></p><a name="chapter11"><h2>Chapter 11</h2></a>
<p><span>Read online:</span> <a href="chapter11.html">Chapter 11 - Encrypting and Decrypting Files</a></p>
<p><span>Download source:</span>  <a href="../source/transpositionFileCipher.py">transpositionFileCipher.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_transpositionFileCipher'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=transpositionFileCipher">transpositionFileCipher.py</a></p><a name="chapter12"><h2>Chapter 12</h2></a>
<p><span>Read online:</span> <a href="chapter12.html">Chapter 12 - Detecting English Programmatically</a></p>
<p><span>Download source:</span>  <a href="../source/detectEnglish.py">detectEnglish.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_detectEnglish'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=detectEnglish">detectEnglish.py</a></p><a name="chapter13"><h2>Chapter 13</h2></a>
<p><span>Read online:</span> <a href="chapter13.html">Chapter 13 - Hacking the Transposition Cipher</a></p>
<p><span>Download source:</span>  <a href="../source/transpositionHacker.py">transpositionHacker.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_transpositionHacker'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=transpositionHacker">transpositionHacker.py</a></p><a name="chapter14"><h2>Chapter 14</h2></a>
<p><span>Read online:</span> <a href="chapter14.html">Chapter 14 - Modular Arithmetic and the Multiplicative Cipher</a></p>
<p><span>Download source:</span>  <a href="../source/cryptomath.py">cryptomath.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_cryptomath'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=cryptomath">cryptomath.py</a></p><a name="chapter15"><h2>Chapter 15</h2></a>
<p><span>Read online:</span> <a href="chapter15.html">Chapter 15 - The Affine Cipher</a></p>
<p><span>Download source:</span>  <a href="../source/affineCipher.py">affineCipher.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_affineCipher'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=affineCipher">affineCipher.py</a></p><p><span>Download source:</span>  <a href="../source/affineKeyTest.py">affineKeyTest.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_affineKeyTest'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=affineKeyTest">affineKeyTest.py</a></p><a name="chapter16"><h2>Chapter 16</h2></a>
<p><span>Read online:</span> <a href="chapter16.html">Chapter 16 - Hacking the Affine Cipher</a></p>
<p><span>Download source:</span>  <a href="../source/affineHacker.py">affineHacker.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_affineHacker'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=affineHacker">affineHacker.py</a></p><a name="chapter17"><h2>Chapter 17</h2></a>
<p><span>Read online:</span> <a href="chapter17.html">Chapter 17 - The Simple Substitution Cipher</a></p>
<p><span>Download source:</span>  <a href="../source/simpleSubCipher.py">simpleSubCipher.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_simpleSubCipher'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=simpleSubCipher">simpleSubCipher.py</a></p><a name="chapter18"><h2>Chapter 18</h2></a>
<p><span>Read online:</span> <a href="chapter18.html">Chapter 18 - Hacking the Simple Substitution Cipher</a></p>
<p><span>Download source:</span>  <a href="../source/makeWordPatterns.py">makeWordPatterns.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_makeWordPatterns'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=makeWordPatterns">makeWordPatterns.py</a></p><p><span>Download source:</span>  <a href="../source/wordPatterns.py">wordPatterns.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_wordPatterns'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=wordPatterns">wordPatterns.py</a></p><p><span>Download source:</span>  <a href="../source/simpleSubHacker.py">simpleSubHacker.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_simpleSubHacker'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=simpleSubHacker">simpleSubHacker.py</a></p><a name="chapter19"><h2>Chapter 19</h2></a>
<p><span>Read online:</span> <a href="chapter19.html">Chapter 19 - The Vigenère Cipher</a></p>
<p><span>Download source:</span>  <a href="../source/vigenereCipher.py">vigenereCipher.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_vigenereCipher'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=vigenereCipher">vigenereCipher.py</a></p><a name="chapter20"><h2>Chapter 20</h2></a>
<p><span>Read online:</span> <a href="chapter20.html">Chapter 20 - Frequency Analysis</a></p>
<p><span>Download source:</span>  <a href="../source/freqAnalysis.py">freqAnalysis.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_freqAnalysis'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=freqAnalysis">freqAnalysis.py</a></p><a name="chapter21"><h2>Chapter 21</h2></a>
<p><span>Read online:</span> <a href="chapter21.html">Chapter 21 - Hacking the Vigenère Cipher</a></p>
<p><span>Download source:</span>  <a href="../source/vigenereHacker.py">vigenereHacker.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_vigenereHacker'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=vigenereHacker">vigenereHacker.py</a></p><p><span>Download source:</span>  <a href="../source/vigenereDictionaryHacker.py">vigenereDictionaryHacker.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_vigenereDictionaryHacker'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=vigenereDictionaryHacker">vigenereDictionaryHacker.py</a></p><a name="chapter22"><h2>Chapter 22</h2></a>
<p><span>Read online:</span> <a href="chapter22.html">Chapter 22 - The One-Time Pad Cipher</a></p>
<a name="chapter23"><h2>Chapter 23</h2></a>
<p><span>Read online:</span> <a href="chapter23.html">Chapter 23 - Finding Prime Numbers</a></p>
<p><span>Download source:</span>  <a href="../source/primeSieve.py">primeSieve.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_primeSieve'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=primeSieve">primeSieve.py</a></p><p><span>Download source:</span>  <a href="../source/rabinMiller.py">rabinMiller.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_rabinMiller'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=rabinMiller">rabinMiller.py</a></p><a name="chapter24"><h2>Chapter 24</h2></a>
<p><span>Read online:</span> <a href="chapter24.html">Chapter 24 - Public Key Cryptography and the RSA Cipher</a></p>
<p><span>Download source:</span>  <a href="../source/makeRsaKeys.py">makeRsaKeys.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_makeRsaKeys'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=makeRsaKeys">makeRsaKeys.py</a></p><p><span>Download source:</span>  <a href="../source/rsaCipher.py">rsaCipher.py</a></p>

<p><span>Copy source to clipboard:</span><br />
<textarea style="width: 100%; height:200px" id='src_rsaCipher'></textarea>
</p>

<p>Use the online diff tool to find typos in your code: <a href="diff/index.html?p=rsaCipher">rsaCipher.py</a></p>

{% endblock %}