{% extends "baseInvent.html" %}
{% set title = 'Hacking Secret Ciphers' %}
{% block content %}



<h1>Practice Exercises 6A</h1>

<div class="asideText"><a href="hacking/practice">View all practice exercises in "Hacking Secret Ciphers with Python".</a></div>

<p>Using the cipher program, encrypt the following sentences with the given keys:</p>

<ol>
<li>"'You can show black is white by argument,' said Filby, 'but you will never convince me.'" with the key 8.</li>

<li>"1234567890" with key 21.</li>

</ol>

<p>Using the cipher program, decrypt the following ciphertexts with the given keys:</p>

<ol start="3">

<li>"'Kv uqwpfu rncwukdng gpqwij.'" with key 2.</li>

<li>"Xqp whh ahoa kb pda sknhz swo ejreoexha." with key 22.</li>
</ol>

<p>Using the cipher program, encrypt the following sentence with the key 0:</p>

<ol start="5">
<li>"This is still a silly example."</li>
</ol>

<br /><br /><br />
<input type="button" value="Show Answers" onclick="document.getElementById('answers').style.display = 'block'" />

<fieldset><legend>Answers:</legend>
<div style="display: none;" id="answers">
<ol>
<li>'GWC KIV APWE JTIKS QA EPQBM JG IZOCUMVB,' AIQL NQTJG, 'JCB GWC EQTT VMDMZ KWVDQVKM UM.'</li>
<li>1234567890</li>
<li>'IT SOUNDS PLAUSIBLE ENOUGH.'</li>
<li>BUT ALL ELSE OF THE WORLD WAS INVISIBLE.</li>
<li>THIS IS STILL A SILLY EXAMPLE.</li>
</ol>
</div>
</fieldset>

<p>If you have ideas for practice questions, send them to <a href="mailto:al@inventwithpython.com">al@inventwithpython.com</a>.</p>


{% endblock %}
