.author {
    display: block;
    font-family: "TradeGothicLTStd";
    font-size: 1.29167em;
    line-height: 1.2;
    margin-bottom: 5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.1em;
    text-align: center
    }
.back {
    background-color: #000;
    color: #FFF
    }
.big {
    font-size: 1.2em;
    line-height: 1.2
    }
.block-quote {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 1em;
    margin-left: 3.6em;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify
    }
.box {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 0.1em;
    border-radius: 0.5em;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 0.1em;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 0.1em;
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em
    }
.boxtitle {
    display: block;
    font-family: "TradeGothicLTStd";
    font-size: 1.29167em;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: left
    }
.bull {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 0.8em;
    margin-right: 0;
    margin-top: 0.2em;
    text-indent: -0.8em
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    line-height: 1.2
    }
.calibre2 {
    font-size: 1em;
    line-height: 1.2
    }
.calibre3 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre4 {
    height: auto;
    width: auto
    }
.calibre5 {
    font-weight: bold
    }
.calibre6 {
    font-size: 0.9em
    }
.calibre7 {
    font-style: italic
    }
.calibre8 {
    color: #000;
    text-decoration: none
    }
.calibre9 {
    display: block
    }
.calibre10 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre11 {
    display: list-item
    }
.calibre12 {
    font-style: italic;
    line-height: 1.2
    }
.calibre13 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre14 {
    font-size: 0.75em
    }
.calibre15 {
    display: block;
    line-height: 1.2
    }
.calibre16 {
    display: table-header-group;
    vertical-align: middle
    }
.calibre17 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre18 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.calibre19 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.calibre20 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre21 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.center {
    display: block;
    font-family: "TradeGothicLTStd";
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.centera {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.codeitalic {
    font-family: "Courier";
    font-style: italic
    }
.codestrong {
    font-family: "Courier";
    font-weight: bold
    }
.codestrongitalic {
    font-family: "Courier";
    font-style: italic;
    font-weight: bold
    }
.copy {
    display: block;
    font-family: "JansonTextLTStd";
    font-size: 0.83333em;
    margin-bottom: 0.8em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3em
    }
.copy1 {
    display: block;
    font-family: "JansonTextLTStd";
    font-size: 0.83333em;
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.8em
    }
.ded {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4.5em;
    text-align: center
    }
.ded1 {
    display: block;
    font-family: "JansonTextLTStd";
    font-size: 0.83333em;
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2.5em;
    text-align: center
    }
.ent {
    font-family: "ArialUnicodeMS";
    src: url(fonts/ARIALUNI.ttf)
    }
.epigraph {
    display: block;
    font-family: "JansonTextLTStd";
    font-size: 0.83333em;
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.1em;
    text-align: center
    }
.equation {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.3em;
    margin-left: 1.3em;
    margin-right: 0;
    margin-top: 0.3em;
    text-align: justify
    }
.equationb {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 1em;
    margin-left: 1.3em;
    margin-right: 0;
    margin-top: 0.1em;
    text-align: justify
    }
.equationt {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 1.3em;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify
    }
.figcap {
    display: block;
    font-family: "TradeGothicLTStd";
    font-size: 0.83333em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    page-break-before: avoid;
    text-align: left
    }
.gray {
    background-color: #E6E7E8;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: top
    }
.h {
    display: block;
    font-family: "TradeGothicLTStd";
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    page-break-before: always;
    text-align: center
    }
.h1 {
    display: block;
    font-family: "TradeGothicLTStd";
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.2em;
    text-align: left
    }
.h2 {
    display: block;
    font-family: "TradeGothicLTStd";
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left
    }
.h2a {
    display: block;
    font-family: "TradeGothicLTStd";
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    page-break-before: always;
    text-align: left
    }
.h2a1 {
    display: block;
    font-family: "TradeGothicLTStd";
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    page-break-before: always;
    text-align: center
    }
.h2a2 {
    display: block;
    font-family: "TradeGothicLTStd";
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2.5em;
    page-break-before: always;
    text-align: center
    }
.h2s {
    display: block;
    font-family: "TradeGothicLTStd";
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    page-break-before: always;
    text-align: center
    }
.h3 {
    display: block;
    font-family: "TradeGothicLTStd";
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.3em;
    text-align: left
    }
.halftitle {
    display: block;
    font-family: "TradeGothicLTStd";
    font-size: 1.29167em;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2.5em;
    text-align: right
    }
.image {
    clear: both;
    display: block;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left
    }
.image1 {
    clear: both;
    display: block;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.image2 {
    clear: both;
    display: block;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left
    }
.imagea {
    clear: both;
    display: block;
    margin-bottom: 0.5em;
    margin-left: 1.5em;
    margin-right: auto;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left
    }
.indent {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    text-align: justify;
    text-indent: 1.3em
    }
.indentb {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    text-align: justify;
    text-indent: 1.3em
    }
.indentt {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 1.3em
    }
.indexmain {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 4.7em;
    margin-right: 0;
    margin-top: 0.2em;
    text-align: left;
    text-indent: -4.7em
    }
.indexsub {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 4.3em;
    margin-right: 0;
    margin-top: 0.1em;
    text-align: left;
    text-indent: -2.8em
    }
.indexsub1 {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 4.5em;
    margin-right: 0;
    margin-top: 0.1em;
    text-align: left;
    text-indent: -1.5em
    }
.inline {
    height: auto;
    vertical-align: middle;
    width: auto
    }
.list-plain {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 1.3em;
    margin-right: 0;
    margin-top: 0.2em;
    text-align: justify
    }
.listbody {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 1.8em;
    margin-right: 0;
    margin-top: 0.2em;
    text-align: justify
    }
.literal {
    font-family: "Courier";
    font-size: 0.83333em
    }
.literal1 {
    font-family: "Courier";
    font-size: 0.75em
    }
.literalcaption {
    font-family: "Courier";
    font-size: 0.9em
    }
.lower-alpha {
    display: block;
    list-style-type: lower-alpha;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.noindent {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    text-align: justify
    }
.noindent1 {
    display: block;
    font-family: "JansonTextLTStd";
    font-size: 1em;
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    text-align: justify
    }
.noindentb {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    text-align: justify
    }
.noindentg {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: center
    }
.noindentt {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify
    }
.noindentz {
    display: block;
    font-family: "Courier";
    font-size: 0.83333em;
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-align: justify
    }
.noindentz1 {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.3em;
    text-align: justify
    }
.note {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 0.1em;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 0.1em;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 0.1em;
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 0;
    padding-right: 0.5em;
    padding-top: 0;
    text-align: left
    }
.notep {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.2em;
    text-align: justify
    }
.notes {
    background-color: #000;
    color: #FFF;
    line-height: 1.2;
    padding-bottom: 0.3em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.3em
    }
.notet {
    display: block;
    font-family: "TradeGothicLTStd";
    font-size: 1.29167em;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em
    }
.programs {
    display: block;
    font-family: "Courier";
    font-size: 0.83333em;
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.1em;
    padding-bottom: 0.5em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    padding-top: 0.5em;
    text-align: left
    }
.programs1 {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 0.1em;
    display: block;
    font-family: "Courier";
    font-size: 0.83333em;
    margin-bottom: 0.8em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.8em;
    padding-bottom: 0.5em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    padding-top: 0.5em;
    text-align: left
    }
.pub {
    display: block;
    margin-top: 0.2em;
    text-align: center
    }
.pub1 {
    display: block;
    font-family: "TradeGothicLTStd";
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.8em;
    text-align: center
    }
.sidebar {
    background-color: #E6E7E8;
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 0.15em;
    border-left-color: currentColor;
    border-left-style: solid;
    border-left-width: 0.15em;
    border-radius: 1em;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 0.15em;
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: 0.15em;
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.sidebart {
    display: block;
    font-family: "TradeGothicLTStd";
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.8em;
    text-align: center
    }
.subtitle {
    display: block;
    font-family: "TradeGothicLTStd";
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.1em;
    text-align: center
    }
.tabcap {
    display: block;
    font-family: "TradeGothicLTStd";
    font-size: 0.83333em;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    page-break-before: avoid;
    text-align: left
    }
.table {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.1em;
    padding-bottom: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.2em
    }
.table_tb {
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 0.1em;
    display: table-cell;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    padding-top: 0.1em;
    text-align: inherit;
    vertical-align: top
    }
.table_th {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    display: table-cell;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    padding-top: 0.1em;
    text-align: inherit;
    vertical-align: top
    }
.table_thg {
    background-color: #E6E7E8;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    display: table-cell;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    padding-top: 0.1em;
    text-align: inherit;
    vertical-align: top
    }
.table_thr {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 0.1em;
    display: table-cell;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    padding-top: 0.1em;
    text-align: inherit;
    vertical-align: top
    }
.table_w {
    display: table-row;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-top: 0.1em;
    vertical-align: inherit
    }
.toc {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.7em;
    text-align: left
    }
.tocchap {
    display: block;
    font-family: "JansonTextLTStd";
    font-weight: bold;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left
    }
.tocsec {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0.1em;
    text-align: left;
    text-indent: -2em
    }
.tocsec1 {
    display: block;
    font-family: "JansonTextLTStd";
    margin-bottom: 0.1em;
    margin-left: 5.9em;
    margin-right: 0;
    margin-top: 0.1em;
    text-align: left;
    text-indent: -2em
    }
.topbot {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    border-collapse: separate;
    border-spacing: 0;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 0.1em;
    display: table;
    margin-bottom: 1em;
    margin-left: 0;
    margin-top: 0.2em;
    text-indent: 0
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
